body.thim-child-new-art{
	.thim-heading-new-art{
		p{
			margin-bottom: 3px;
		}
		h3{
			font-size: 38px;
			line-height: 48px;
			margin: 0;
		}

	}

	.thim-border-right{
		border-right: 1px solid #e1e1e1;
	}
}