input[type=submit]:hover,
button:hover,
.woocommerce .actions .button:not([disabled]):hover,
.comments-area .comment-list .comment-list-inner .form-submit input#submit:hover,
#respond.comment-respond .comment-form .form-submit input#submit:hover,
.wpcf7-form .wpcf7-submit:hover,
.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields button[type="submit"]:hover,
.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover,
article .readmore a:hover,
.quickview .product-info .right .cart button.button:hover,
.mfp-image-holder .course-content .mfp-close,
.mfp-inline-holder .course-content .mfp-close,
.woocommerce div.product form.cart .button:hover,
.thim-course-grid .course-item .course-thumbnail > a.course-readmore:hover,
.thim-course-list .course-item .thim-course-content .course-readmore a:hover,
.learn-press #finish-course:hover,
.learn-press .thim-enroll-course-button:hover,
.course-content .complete-lesson-button:hover,
#tab-course-review .add-review form button[type="submit"]:hover,
#tab-course-review .review-load-more #course-review-load-more:hover,
#tab-reviews .add-review form button[type="submit"]:hover,
#tab-reviews .review-load-more #course-review-load-more:hover,
.become-teacher-form button[type=submit]:hover,
.wrapper-lists-our-team a.join-our-team:hover,
.thim-login form#loginform input[type=submit]:hover,
.thim-login form#registerform input[type=submit]:hover,
.thim-login form#lostpasswordform input[type=submit]:hover,
.thim-login form#resetpassform input[type=submit]:hover,
.tp-event-archive .entry-content .tp_event_view-detail:hover,
.menu-right .thim-link-login a:hover,
.thim-what-it-about-desc .button .thim-button:hover,
.thim-join-the-elite-group .thim-widget-button .widget-button.normal:hover,
.thim-welcome-university .thim-register-now-form .wpcf7-form .wpcf7-submit:hover,
.thim-course-megamenu .course-readmore:hover,
.thim-buy-now .thim-widget-button .widget-button:hover,
form.lp-cart .checkout-button:hover,
#learn-press-finish-course:hover,
#learn-press-checkout-user-form #learn-press-checkout-user-login ul.form-fields li button:hover,
#learn-press-checkout-user-form #learn-press-checkout-user-register .form-content a:hover,
#learn-press-form-login input[type="submit"]:hover,
.pmpro-has-access input.pmpro_btn:hover,
.pmpro-has-access a.pmpro_btn:hover,
.widget-area.sidebar-events .widget_book-event .event_register_foot .event_register_submit:hover,
.lp_pmpro_courses_by_level .level-wrap footer a :hover,
.thim-timetable-link:hover,
.thim-search-light-style .thim-widget-courses-searching .courses-searching button:hover,
.thim-button-checkout:hover,
.thim-widget-courses .view-all-courses.position-bottom:hover,
.elementor-widget-thim-courses .view-all-courses.position-bottom:hover,
.woocommerce .add_to_cart_button.ajax_add_to_cart:hover,
.product-grid .product__title a.button.product_type_variable:hover,
.product-grid .product__title a.button.product_type_simple:hover,
.product-grid .product__title a.button.product_type_external:hover,
.product-grid .product__title a.button.product_type_grouped:hover,
#your-profile input[type=submit]:hover,
#course-curriculum-popup #popup-header .popup-close,
#course-curriculum-popup #popup-header .popup-close:hover,
body.course-item-popup #learn-press-content-item #course-item-content-header .back_course,
#popup_panel #popup_ok:hover,
.thim-course-landing-button .woocommerce-message a.button:hover,
.course-payment .woocommerce-message a.button:hover,
.comments-area .comment-list .comment-list-inner .form-submit input#submit,
.wpcf7-form .ct-form-elegant p:last-child:hover{
	background-color: $thim_thim_button_hover_color;
}

.thim-join-the-elite-group .thim-widget-button .widget-button.normal:hover,
.thim-newlleter-homepage .mc4wp-form.yikes-easy-mc-form .yikes-easy-mc-submit-button:hover,
.thim-buy-now .thim-widget-button .widget-button:hover {
	border-color: $thim_thim_button_hover_color;
}

.thim-university-top-icon .thim-widget-icon-box .wrapper-box-icon,
.thim-university-top-icon .elementor-widget-thim-icon-box .wrapper-box-icon {
	border-right-color: $thim_thim_button_hover_color;
}

//important
.product-grid .product__title a.button:hover,
.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form .form-submit .submit:hover,
.quickview .product-info .right .cart button.button:hover,
.widget_shopping_cart .widget_shopping_cart_content .buttons a.checkout:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce-page div.product form.cart .button:hover,
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover,
.woocommerce .wc-proceed-to-checkout a.button:hover,
.woocommerce-page .wc-proceed-to-checkout a.button:hover,
#customer_login form input[type=submit]:hover,
.woocommerce .reset_password form input[type=submit]:hover,
.rev-btn.thim-slider-button:hover,
.single-post .page-content article .page-content-inner .entry-content .pmpro_content_message a:hover,
.thim-newlleter-homepage .mc4wp-form.yikes-easy-mc-form .yikes-easy-mc-submit-button:hover,
.woocommerce-MyAccount-content form input.button:hover{
	background-color: $thim_thim_button_hover_color;
}


.site-header.header_v2 .navigation .navbar-nav > li > a:before,
.site-header.header_v2 .navigation .navbar-nav > li > span:before {
	background: rgba(red($thim_thim_button_hover_color), green($thim_thim_button_hover_color), blue($thim_thim_button_hover_color), 0.45);
}

// thim_thim_button_text_color
.single-quiz button.button-retake-quiz:hover,
.thim-widget-courses .view-all-courses.position-bottom,
.elementor-widget-thim-courses .view-all-courses.position-bottom,
.thim-widget-courses .view-all-courses.position-bottom:hover,
.elementor-widget-thim-courses .view-all-courses.position-bottom:hover,
.woocommerce .actions .button:not([disabled]):hover,
.site-header li .widget_shopping_cart .widget_shopping_cart_content .buttons a.button.wc-forward:hover,
.site-header li .widget_shopping_cart .widget_shopping_cart_content .buttons a.button.wc-forward.checkout,
.learn-press-pagination li .page-numbers:hover,
.learn-press-pagination li .page-numbers.current,
.pagination li .page-numbers:hover,
.pagination li .page-numbers.current,
.loop-pagination li .page-numbers:hover,
.loop-pagination li .page-numbers.current,
input[type=submit],
button,
input[type=submit]:hover,
button:hover,
.comments-area .comment-list .comment-list-inner .form-submit input#submit:hover,
#respond.comment-respond .comment-form .form-submit input#submit,
.wpcf7-form .wpcf7-submit,
.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields button[type="submit"]:hover,
.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover,
.mc4wp-form .mc4wp-form-fields button[type="submit"],
.mc4wp-form .mc4wp-form-fields input[type="submit"],
article .readmore a,
article .readmore a:hover,
.quickview .product-info .right .cart button.button,
.quickview .product-info .right .cart button.button:hover,
.woocommerce div.product form.cart .button:hover,
.thim-course-grid .course-item .course-thumbnail > a.course-readmore,
.thim-course-grid .course-item .course-thumbnail > a.course-readmore:hover,
.thim-course-list .course-item .thim-course-content .course-readmore a,
.thim-course-list .course-item .thim-course-content .course-readmore a:hover,
.learn-press #finish-course,
.learn-press .thim-enroll-course-button,
.learn-press #finish-course:hover,
.learn-press .thim-enroll-course-button:hover,
.course-content .complete-lesson-button,
.course-content .complete-lesson-button:hover,
#tab-course-review .add-review form button[type="submit"],
#tab-course-review .add-review form button[type="submit"]:hover,
#tab-course-review .review-load-more #course-review-load-more,
#tab-course-review .review-load-more #course-review-load-more:hover,
#tab-reviews .add-review form button[type="submit"],
#tab-reviews .add-review form button[type="submit"]:hover,
#tab-reviews .review-load-more #course-review-load-more,
#tab-reviews .review-load-more #course-review-load-more:hover,
.become-teacher-form button[type=submit],
.become-teacher-form button[type=submit]:hover,
.wrapper-lists-our-team a.join-our-team,
.wrapper-lists-our-team a.join-our-team:hover,
.thim-login form#loginform input[type=submit],
.thim-login form#registerform input[type=submit],
.thim-login form#lostpasswordform input[type=submit],
.thim-login form#resetpassform input[type=submit],
.thim-login form#loginform input[type=submit]:hover,
.thim-login form#registerform input[type=submit]:hover,
.thim-login form#lostpasswordform input[type=submit]:hover,
.thim-login form#resetpassform input[type=submit]:hover,
.tp-event-archive .entry-content .tp_event_view-detail,
.tp-event-archive .entry-content .tp_event_view-detail:hover,
.thim-what-it-about-desc .button .thim-button,
.thim-join-the-elite-group .thim-widget-button .widget-button.normal,
.thim-join-the-elite-group .thim-widget-button .widget-button.normal:hover,
.thim-welcome-university .thim-register-now-form .wpcf7-form .wpcf7-submit,
.thim-welcome-university .thim-register-now-form .wpcf7-form .wpcf7-submit:hover,
.thim-course-megamenu .course-readmore,
.thim-course-megamenu .course-readmore:hover,
.rev-btn.thim-slider-button,
.rev-btn.thim-slider-button:hover,
#learn-press-finish-course,
form.lp-cart .checkout-button,
#learn-press-checkout-user-form #learn-press-checkout-user-login ul.form-fields li button,
#learn-press-checkout-user-form #learn-press-checkout-user-register .form-content a,
#learn-press-payment .place-order-action input.button,
.list-book-event thead th a,
.list-book-event thead td a,
.list-book-event tbody th a,
.list-book-event tbody td a,
.list-book-event thead th a:hover,
.list-book-event thead td a:hover,
.list-book-event tbody th a:hover,
.list-book-event tbody td a:hover,
#learn-press-form-login input[type="submit"],
.pmpro-has-access input.pmpro_btn,
.pmpro-has-access a.pmpro_btn,
.pmpro-has-access input.pmpro_btn:hover,
.pmpro-has-access a.pmpro_btn:hover,
.widget-area.sidebar-events .widget_book-event .event_register_foot .event_register_submit,
.widget-area.sidebar-events .widget_book-event .event_register_foot .event_register_submit:hover,
.lp_pmpro_courses_by_level .level-wrap footer a,
.thim-timetable-link,
.thim-timetable-link:hover,
.thim-button-checkout,
.thim-widget-courses .view-all-courses.position-bottom,
.elementor-widget-thim-courses .view-all-courses.position-bottom,
.woocommerce .add_to_cart_button.ajax_add_to_cart:hover,
.thim-newlleter-homepage .mc4wp-form.yikes-easy-mc-form .yikes-easy-mc-submit-button,
.woocommerce .add_to_cart_button.ajax_add_to_cart{
	color: $thim_thim_button_text_color;
}


//important
.product-grid .product__title a.button.add_to_cart_button,
.product-grid .product__title a.button.add_to_cart_button:hover,
.product-grid .product__title a.button.add_to_cart_button:before,
.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form .form-submit .submit,
.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form .form-submit .submit:hover,
.quickview .product-info .right .cart button.button:hover,
.widget_shopping_cart .widget_shopping_cart_content .buttons a.checkout:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce-page div.product form.cart .button:hover,
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover,
.woocommerce .wc-proceed-to-checkout a.button:hover,
.woocommerce-page .wc-proceed-to-checkout a.button:hover,
.quickview .product-info .right .cart button.button,
.widget_shopping_cart .widget_shopping_cart_content .buttons a.checkout,
.woocommerce div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
.woocommerce .wc-proceed-to-checkout a.button,
.woocommerce-page .wc-proceed-to-checkout a.button,
#customer_login form input[type=submit],
#customer_login form input[type=submit]:hover,
.woocommerce .reset_password form input[type=submit],
.woocommerce .reset_password form input[type=submit]:hover,
.menu-right .thim-link-login a,
.menu-right .thim-link-login a:hover,
.woocommerce-MyAccount-content form input.button,
.woocommerce-MyAccount-content form input.button:hover{
	color: $thim_thim_button_text_color;
}
#learn-press-checkout .learnpress #learn-press-checkout-form .lp-checkout-form__after #checkout-payment #checkout-order-action .lp-button{
	color: $thim_thim_button_text_color;
	background-color: $thim_thim_body_primary_color;
	&:hover{
		background-color: darken($thim_thim_body_primary_color,10%);
	}
}
.thim-style-content-new-1 .course_right .course-payment .form-purchase-course .button,
.thim-style-content-new-1 .thim-course-menu-landing .thim-course-landing-button .lp-course-buttons .button {
	background-color: $thim_thim_body_primary_color;
	&:hover{
		background-color: darken($thim_thim_body_primary_color,10%);
	}
}
