body.thim-child-crypto .mobile-menu-wrapper .menu-right.header_v4 .thim-widget-login-popup a.login,
body.thim-child-crypto footer#colophon .footer .thim-widget-social .thim-social ul.social_link li a:hover,
body.thim-child-crypto footer#colophon .footer .elementor-widget-thim-social .thim-social ul.social_link li a:hover,
body.thim-child-crypto .elementor-widget-thim-testimonials .thim-testimonial-carousel .owl-buttons .owl-next:hover,
body.thim-child-crypto .elementor-widget-thim-testimonials .thim-testimonial-carousel .owl-buttons .owl-prev:hover,
body.thim-child-crypto .thim-widget-testimonials .thim-testimonial-carousel .owl-buttons .owl-next:hover,
body.thim-child-crypto .thim-widget-testimonials .thim-testimonial-carousel .owl-buttons .owl-prev:hover,
body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content {
	background-color: $thim_thim_body_primary_color;
}
body.thim-child-crypto .thim-our-achievements .elementor-widget-text-editor i,
body.thim-child-crypto .thim-our-achievements .wpb_text_column i,
body.thim-child-crypto .thim-our-achievements .textwidget i,
body.thim-child-crypto .wrapper-lists-our-team .our-team-item .content-team .content-team-box .social-team a:hover{
	color: $thim_thim_body_primary_color;
}

body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a{
	background-color: $thim_thim_body_secondary_color;
}
body.thim-child-crypto .elementor-widget-thim-testimonials .thim-testimonial-carousel .owl-buttons .owl-next:hover,
body.thim-child-crypto .elementor-widget-thim-testimonials .thim-testimonial-carousel .owl-buttons .owl-prev:hover,
body.thim-child-crypto .thim-widget-testimonials .thim-testimonial-carousel .owl-buttons .owl-next:hover,
body.thim-child-crypto .thim-widget-testimonials .thim-testimonial-carousel .owl-buttons .owl-prev:hover,
body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-readmore a,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-readmore a{
	border-color: $thim_thim_body_primary_color;
}

body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a{
	border-color: $thim_thim_body_secondary_color;
}

body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a:hover,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item:hover .thim-course-content .course-readmore a:hover,
body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-readmore a,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-readmore a,
body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-title a:hover,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-course-grid .course-item .thim-course-content .course-title a:hover{
	color: $thim_thim_font_title_color;
}

body.thim-child-crypto .elementor-widget-thim-courses .grid-1 .thim-view-all-box .view-all-courses:hover,
body.thim-child-crypto .thim-widget-courses .grid-1 .thim-view-all-box .view-all-courses:hover{
	background-color: $thim_thim_button_hover_color;
}