h1,h2,h3,h4,h5,h6,
.lp-course-progress .progress-heading span,
#your-profile ul.learn-press-subtabs li a,
#your-profile ul.learn-press-subtabs li span,
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item a.course-item-title,
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item a.course-item-title span,
.header_v3 .thim-widget-link .title a,
.product-grid .product__title .title,
#back-to-top:hover,
.thim-list-event .item-event .title a,
.thim-list-event .view-all,
.thim-list-event.layout-2 .view-all,
.thim-login form#loginform p.login-remember label,
.thim-login form#loginform > a.lost-pass-link,
.list-address li,
.thim-color-title,
.thim-register-now-form .wpcf7-form .wpcf7-submit:hover,
.thim-widget-accordion .panel-title a:after,
.sc_heading .title,
article .entry-header .entry-title a,
.counter-box.number-left .counter-box-content,
.counter-box.number-left .view-more,
.counter-box.about-us .display-percentage,
.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper p label,
.widget_shopping_cart .widget_shopping_cart_content .buttons a:hover,
.widget_shopping_cart .minicart_hover .cart-items-number span.wrapper-items-number,
.widget_shopping_cart .widget_shopping_cart_content,
.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a,
.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li dl,
.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li span,
.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .quantity,
.woocommerce .reset_password form .description,
.thim-course-grid .course-item .thim-course-content .course-title a,
.woocommerce div.product .related-products > h2,
.woocommerce div.product .upsells-products > h2,
.thim-about-author .author-top .name,
.entry-tag-share .post-tag a,
.entry-navigation-post .next-post .title a,
.entry-navigation-post .prev-post .title a,
.related-archive .archived-posts .post h5 a,
.widget-area aside.widget ul li a,
.learn-press-pagination li .page-numbers,
.learn-press-pagination li .page-numbers.current,
.pagination li .page-numbers,
.pagination li .page-numbers.current,
.loop-pagination li .page-numbers.current,
.loop-pagination li .page-numbers,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .author a,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .author .author-name,
#respond #cancel-comment-reply-link,
#respond .logged-in-as a,
.widget-area .thim-list-posts.sidebar .article-title-wrapper a,
.widget-area .thim-course-list-sidebar .thim-course-content .course-title a,
.quickview .product-info .right .product_meta a,
.product-grid .product__title .title a.add_to_cart,
.product-grid .product__title .title a,
.filter-controls li a:hover,
.filter-controls li a.active,
.product-cat li a:hover,
.product-cat li a.active,
.quickview .product-info .right .cart a,
.product_thumb .onsale,
.woocommerce div.product .onsale,
.woocommerce div.product .woocommerce-tabs .tabs .active a,
.woocommerce-page .product-name a,
.woocommerce-page .button:hover,
.woocommerce form .form-row label,
#customer_login form .remember,
#customer_login form .link-bottom,
#customer_login form .lost-password,
.learn-press #learn_press_payment_form .learn_press_payment_close .learn_press_payment_checkout:hover,
.thim-course-list .course-item .thim-course-content .course-title a,
.thim-widget-courses-wrapper .view-all-courses,
.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-next,
.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-prev,
.learn-press .course-payment .course-price .value,
.learn-press .course-tabs .nav-tabs li a,
.learn-press .course-meta label .value,
#learn-press-course-curriculum .section-content .course-item a,
#learn-press-course-curriculum .section-content .course-item a.lesson-preview:hover,
#tab-course-description .thim-course-info ul li span,
.thim-course-menu-landing .thim-course-landing-tab li a,
.thim-course-menu-landing .thim-course-landing-button .course-price,
#tab-course-review .course-rating > h3,
#tab-course-review .course-rating .rating-title,
#tab-course-review .course-rating .average-rating .rating-box .review-amount,
#tab-course-review .course-rating .detailed-rating .stars > div.key,
#tab-course-review .add-review form label,
#tab-course-review .add-review .title,
#tab-reviews .course-rating > h3,
#tab-reviews .course-rating .rating-title,
#tab-reviews .course-rating .average-rating .rating-box .review-amount,
#tab-reviews .course-rating .detailed-rating .stars > div.key,
#tab-reviews .add-review form label,
#tab-reviews .add-review .title,
.thim-testimonial-slider .title,
.thim-testimonial-slider .title a,
.thim-widget-tab .nav-tabs li a,
.thim-widget-tab .nav-tabs li a:hover,
.thim-login form#registerform #reg_passmail,
.thim-login form#registerform label[for=become_teacher],
.thim-login-container .link-bottom,
.list-tab-event .nav-tabs li a,
.profile-tabs .nav-tabs li a,
.tp-event-info .tp-info-box .heading,
.tp-event-archive .entry-title h4 a,
.bbpress #bbpress-forums button:hover,
.bbpress #bbpress-forums .bbp-breadcrumb a,
.bbpress #bbpress-forums li.bbp-body ul .bbp-forum-title,
.bbpress #bbpress-forums li.bbp-body ul .bbp-topic-permalink,
.tp-event-organizers .thim-carousel-wrapper .item .name,
.course-content .course-content-lesson-nav a,
.single-quiz button.check_answer:hover,
.single-quiz button.next-question:hover,
.single-quiz button.prev-question:hover,
.single-quiz button.button-finish-quiz:hover,
.single-quiz button.button-start-quiz:hover,
.single-quiz .back-to-course,
.single-quiz .quiz-questions.list-quiz-questions ul li a,
.single-quiz .quiz-questions.list-quiz-questions ul li,
.learn-press-question-wrap.checked li.user-answer-false,
.learn-press-question-wrap.checked li.answer-true,
.learn-press .message a,
.learn-press .message a:hover,
.message a,
.message a:hover,
.course-content .popup-title,
.mfp-content .popup-title,
#popup_title,
#popup_panel #popup_ok:hover,
#popup_panel #popup_cancel:hover,
.mo-openid-app-icons > p,
.thim-what-it-about-desc .thim-login-link,
.thim-hello-there .description,
.thim-hello-there .sub-heading,
.thim-latest-new-university .thim-owl-carousel-post .title a,
.thim-latest-new-university .thim-owl-carousel-post .owl-controls .owl-prev .fa,
.thim-latest-new-university .thim-owl-carousel-post .owl-controls .owl-next .fa,
.wrapper-lists-our-team .our-team-item .title a,
.thim-course-megamenu .course-title a,
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a,
#buddypress .bp-avatar-nav ul.avatar-nav-items li a,
#buddypress .bp-avatar-nav ul.avatar-nav-items li.selected a,
#buddypress .bp-avatar-nav ul.avatar-nav-items li.current a,
#buddypress .activity-list .activity-content .activity-header,
.comment-header a:not(.activity-time-since),
#buddypress input[type=submit],
#buddypress input[type=submit]:hover,
#buddypress a.button:hover,
#buddypress a.button:hover > span,
#buddypress .standard-form span.label,
#buddypress .standard-form label,
#buddypress .current-visibility-level,
#buddypress label,
#buddypress .acomment-meta a:first-child,
#buddypress div#item-header div.generic-button > a:hover,
li form.ac-form .ac-reply-content .ac-reply-cancel:hover,
li form.ac-form .ac-reply-content input[type=submit],
#buddypress #members-list li .item .item-title > a,
.thim-widget-portfolio .wapper_portfolio .filters .portfolio-tabs li a.filter:hover,
.portfolio_container .wapper_portfolio .filters .portfolio-tabs li a.filter:hover,
.thim-widget-portfolio .wapper_portfolio .filters .portfolio-tabs li a.active,
.portfolio_container .wapper_portfolio .filters .portfolio-tabs li a.active,
.learn-press-cart-table tbody .cart_item td a,
.learn-press .view-cart-button:hover,
.event_button_disable,
#learn-press-form-login a.lost-pass-link,
#learn-press-form-login a.lost-pass-link:hover,
#learn-press-form-login p label,
.thim-category-tabs .nav-tabs li a,
.thim-testimonial-carousel .owl-buttons .owl-prev:hover,
.thim-testimonial-carousel .owl-buttons .owl-next:hover,
.thim-testimonial-carousel .content .title .line:before,
.landing-image .title a,
.thim-testimonial-carousel .content .title .line,
.thim-testimonial-carousel .content .description,
.pmpro-has-access .navigation a,
.pmpro-has-access .pmpro_actionlinks a,
.pmpro-has-access #pmpro_invoices_table tbody tr td a,
.pmpro-has-access #pmpro_account-invoices tbody tr td a,
.pmpro-has-access #pmpro_billing_address_fields thead th,
.pmpro-has-access #pmpro_payment_information_fields thead th,
.pmpro-has-access .pmpro_thead-name,
.lp_pmpro_courses_by_level .level-wrap .lp_pmpro_title_course span,
.lp_pmpro_courses_by_level .level-wrap ul li a:hover,
.lp_pmpro_courses_by_level .level-wrap header .lp_pmpro_price_level .price,
.thim-owl-carousel-post.thim-list-posts .title a,
.woocommerce-MyAccount-navigation li a,
a.thim-create-menu,
a.thim-create-menu:hover,
.section .section-header > a,
.textwidget .add_to_cart_inline .amount,
body .vc_tta.vc_tta-spacing-1 .vc_tta-tab a,
.thim-owl-carousel-post.layout-2 .title a,
.quiz-buttons .button-hint:hover,
.quiz-buttons .button-next-question:hover,
.quiz-buttons .button-check-answer:hover,
.quiz-buttons .button-prev-question:hover,
.loop-pagination .page-number,
.loop-pagination a:hover .page-number,
.lp-course-progress .progress-heading span,
.learn-press-pmpro-buy-membership a.button:hover,
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .lesson-preview:hover,
.thim-widget-carousel-categories .link-view-all,
.elementor-widget-thim-carousel-categories .link-view-all,
.thim-grid-posts .article-wrapper .title a,
.thim-grid-posts .article-wrapper .read-more,
.thim-list-post-inner .link_read_more a,
#your-profile input[type=submit],
#your-profile input[type=submit]:hover,
#popup_container #popup_title,
#popup_panel #popup_ok,
.quiz-buttons .button-hint:hover,
.quiz-buttons .button-next-question:hover,
.quiz-buttons .button-check-answer:hover,
.quiz-buttons .button-prev-question:hover,
.thim-title-4 .widget-title,
.lp-pmpro-membership-list .lp-price,
.list-event-slider .item-event .event-wrapper .title a,
.list-event-slider .item-event .event-wrapper .read-more, .thim-widget-login-form label, .thim-widget-login-popup label,
.list-event-layout-6 .thim-event-layout-6 .item-slider .event-wrapper .link-event,
.list-event-layout-6 .thim-event-layout-6 .item-slider .event-wrapper .title a,
.thim-list-posts.style_2 .item-post .block-content .article-title a,
.thim-list-posts.style_2 .item-post .block-content .info .author a,
.thim-list-posts.style_2 .item-post .block-content .info .comments a,
.list-post-read-more-style_2{
	color: $thim_thim_font_title_color;
}

//important
.product-grid .product__title a.added_to_cart,
.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget .empty,
.widget_shopping_cart .widget_shopping_cart_content .total,
.widget_shopping_cart .widget_shopping_cart_content .total span {
	color: $thim_thim_font_title_color;
}
.quiz-buttons button,
.learn-press .tab-content .course-wishlist-box,
#buddypress a.button,
li form.ac-form .ac-reply-content .ac-reply-cancel,
#buddypress div#item-header div.generic-button > a,
.learn-press .view-cart-button,
.thim-widget-accordion .widget-title:after,
.vc_tta-container[data-vc-action*="collapse"] > h2:after,
.sc_heading .line{
	background-color: $thim_thim_font_title_color;
}

.thim-latest-new-university .thim-owl-carousel-post .owl-controls .owl-prev,
.thim-latest-new-university .thim-owl-carousel-post .owl-controls .owl-next{
	border-color: $thim_thim_font_title_color;
}