$thim_thim_main_menu_font_weight:600;
$thim_thim_main_menu_font_style:normal;
$thim_thim_main_menu_font_size:14px;
$thim_thim_font_body_font_family:'Roboto';
$thim_thim_font_body_font_weight:400;
$thim_thim_font_body_font_style:normal;
$thim_thim_font_body_font_size:15px;
$thim_thim_font_body_line_height:1.7em;
$thim_thim_font_body_color:#666666;
$thim_thim_font_title_font_family:'Roboto Slab';
$thim_thim_font_title_font_weight:700;
$thim_thim_font_title_font_style:normal;
$thim_thim_font_title_color:#333333;
$thim_thim_font_h1_font_size:36px;
$thim_thim_font_h1_line_height:1.6em;
$thim_thim_font_h2_font_size:28px;
$thim_thim_font_h2_line_height:1.6em;
$thim_thim_font_h3_font_size:24px;
$thim_thim_font_h3_line_height:1.6em;
$thim_thim_font_h4_font_size:18px;
$thim_thim_font_h4_line_height:1.6em;
$thim_thim_font_h5_font_size:16px;
$thim_thim_font_h5_line_height:1.6em;
$thim_thim_font_h6_font_size:16px;
$thim_thim_font_h6_line_height:1.4em;
$thim_thim_width_logo:153px;
$thim_thim_bg_main_menu_color:rgba(255,255,255,0);
$thim_thim_main_menu_text_color:#ffffff;
$thim_thim_main_menu_text_hover_color:#ffffff;
$thim_thim_font_size_main_menu:14px;
$thim_thim_font_weight_main_menu:600;
$thim_thim_bg_mobile_menu_color:#232323;
$thim_thim_mobile_menu_text_color:#777;
$thim_thim_mobile_menu_text_hover_color:#fff;
$thim_thim_sub_menu_bg_color:#ffffff;
$thim_thim_sub_menu_border_color:rgba(43,43,43,0);
$thim_thim_sub_menu_text_color:#999999;
$thim_thim_sub_menu_text_color_hover:#333333;
$thim_thim_sticky_bg_main_menu_color:#fff;
$thim_thim_sticky_main_menu_text_color:#333;
$thim_thim_sticky_main_menu_text_hover_color:#333;
$thim_thim_toolbar_font_size:12px;
$thim_thim_bg_color_toolbar:#111111;
$thim_thim_text_color_toolbar:#ffffff;
$thim_thim_link_color_toolbar:#ffffff;
$thim_thim_link_hover_color_toolbar:#fff;
$thim_thim_body_bg_color:#fff;
$thim_thim_body_primary_color:#ffb606;
$thim_thim_bg_repeat:no-repeat;
$thim_thim_bg_position:center center;
$thim_thim_bg_attachment:inherit;
$thim_thim_bg_size:inherit;
$thim_thim_button_hover_color:#e6a303;
$thim_thim_button_text_color:#333;
$thim_thim_body_secondary_color:#4caf50;
$thim_thim_bg_upload:"";
$thim_thim_bg_pattern:"//import.thimpress.com/wp-content/uploads/sites/eduma/2020/11/pattern1.png";
$thim_thim_copyright_bg_color:#111111;
$thim_thim_copyright_text_color:#999999;
$thim_thim_copyright_border_color:#222;
$thim_thim_footer_color_hover:#ffb606;
$thim_thim_footer_color_link:#999999;
$thim_thim_footer_color_title:#fff;
$thim_thim_footer_color_text:#999;
$thim_thim_footer_bg_color:#111111;
$thim_thim_footer_bg_repeat:no-repeat;
$thim_thim_footer_background_img:"";
$thim_thim_footer_bg_position:center center;
$thim_thim_footer_bg_size:inherit;
$thim_thim_footer_bg_attachment:inherit;
$thim_thim_archive_cate_bg_color:rgba(0,0,0,0.5);
$thim_thim_archive_cate_title_color:#ffffff;
$thim_thim_archive_cate_sub_title_color:#999;
$thim_thim_archive_single_bg_color:rgba(0,0,0,0.5);
$thim_thim_archive_single_title_color:#ffffff;
$thim_thim_archive_single_sub_title_color:#999;
$thim_thim_front_page_bg_color:rgba(0,0,0,0.5);
$thim_thim_front_page_title_color:#ffffff;
$thim_thim_front_page_sub_title_color:#999;
$thim_thim_learnpress_cate_bg_color:rgba(0,0,0,0.5);
$thim_thim_learnpress_cate_title_color:#ffffff;
$thim_thim_learnpress_cate_sub_title_color:#999;
$thim_thim_learnpress_single_bg_color:rgba(0,0,0,0.5);
$thim_thim_learnpress_single_title_color:#ffffff;
$thim_thim_learnpress_single_sub_title_color:#999;
$thim_thim_event_cate_bg_color:rgba(0,0,0,0.5);
$thim_thim_event_cate_title_color:#ffffff;
$thim_thim_event_cate_sub_title_color:#999;
$thim_thim_event_single_bg_color:rgba(0,0,0,0.5);
$thim_thim_event_single_title_color:#ffffff;
$thim_thim_event_single_sub_title_color:#999;
$thim_thim_preload_style_color:#ffb606;
$thim_thim_preload_style_background:#ffffff;
$thim_thim_woo_cate_bg_color:rgba(0,0,0,0.5);
$thim_thim_woo_cate_title_color:#ffffff;
$thim_thim_woo_cate_sub_title_color:#999;
$thim_thim_woo_single_bg_color:rgba(0,0,0,0.5);
$thim_thim_woo_single_title_color:#ffffff;
$thim_thim_woo_single_sub_title_color:#999;
$thim_thim_maintenance_text_color:"";
$thim_thim_maintenance_bg_color:"";
$thim_thim_link_color_toolbar_border_button:#ddd;
