body.thim-child-instructor{
	.sc_heading{
		margin:0;
		padding:0;

		.title{
			font-weight: 600;
		}
		.sub-heading{
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
			color: #7c7c7c;
			margin: 0 0 5px;
		}
	}
}