.thim-zindex-2{
	position: relative;
	z-index: 2 !important;
}

.thim-zindex-1{
	position: relative;
	z-index: 1 !important;
}

@media (max-width: 767px) {
	.vc_row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.vc_column_container > .vc_column-inner{
		padding-left: 15px;
		padding-right: 15px;
	}
}