.profile-container {
	padding: 0;
	border-radius: 0;
	border: 0;
	overflow: hidden;

	.box-title {
		font-size: 18px;
		text-transform: uppercase;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 11px;
		position: relative;
		padding-bottom: 19px;

		&:after {
			content: '';
			width: 35px;
			background: #111;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.user-tab {
		width: 25%;
		width: calc(300px);
		width: -webkit-calc(300px);
		width: -moz-calc(300px);
		float: left;
		padding-right: 30px;

		.author-avatar {
			margin-bottom: 25px;

			img {
				margin: 0;
			}
		}

		.author-name {
			text-transform: capitalize;
			text-align: center;
			font-weight: 700;
			font-size: 30px;
			line-height: 30px;
			padding: 52px 0 27px;
			margin: 25px 0 30px;
			position: relative;
			border-top: 1px solid #eee;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 36px;
				height: 1px;
				background: #000;
			}
		}
	}

	.thim-author-social {
		clear: both;
		margin: 0;
		text-align: center;
	}

	.profile-tabs {
		width: 75%;
		width: calc(100% - 300px);
		width: -webkit-calc(100% - 300px);
		width: -moz-calc(100% - 300px);
		float: right;

		.thim-empty-course {
			margin-bottom: 40px;
		}

		.nav-tabs {
			margin: 0;
			border: 0;
			background: transparent;
			border-bottom: 1px solid #eee;
			padding: 0;

			li {
				background: transparent;
				border-radius: 0;
				margin: 0;
				width: 25%;
				text-align: center;
				border: 0;
				padding: 0;
				position: relative;
				white-space: nowrap;

				&.thim-profile-list-6 {
					width: 16.666%;

					&:nth-child(6n+1) {
						clear: both;
					}
				}

				&.thim-profile-list-7 {
					width: 14.28%;

					&:nth-child(7n+1) {
						clear: both;
					}
				}

				&.thim-profile-list-8, &.thim-profile-list-9, &.thim-profile-list-10 {
					&:nth-child(4n+1) {
						clear: both;
					}
				}

				&.thim-profile-list-5 {
					width: 20%;

					&:nth-child(5n+1) {
						clear: both;
					}
				}

				&.thim-profile-list-4 {
					width: 25%;

					&:nth-child(4n+1) {
						clear: both;
					}
				}

				&.thim-profile-list-3 {
					width: 33.33%;

					&:nth-child(3n+1) {
						clear: both;
					}
				}

				&:nth-child(4n+1) {
					//clear: both;

				}

				a {
					border-radius: 0;
					margin-right: 3px;
					border: 1px solid #eee;
					border-bottom: 0;
					font-size: 13px;
					font-weight: 700;
					background: #f9f9f9;
					line-height: 29px;
					float: none;
					position: relative;
					display: block;
					padding: 10px 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;

					.fa {
						font-size: 13px;
						vertical-align: middle;
						line-height: 29px;
						margin-right: 8px;
					}
				}

				&:last-child {
					a {
						margin-right: 0;
					}

					&.active {
						&:before {
							right: 0;
						}

						&:after {
							right: 0;
						}
					}
				}

				&.active {
					background: #fff;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						right: 3px;
						top: 0;
						height: 4px;
						z-index: 10;
					}

					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 3px;
						bottom: -1px;
						height: 1px;
						z-index: 10;
						background: #fff;
					}

					a {
						background: #fff;
					}
				}
			}
		}

		.tab-content {
			padding: 55px 0 0;

			> .tab-pane {
				padding-left: 0;
				padding-right: 0;

				> .box-title:first-child {
					margin-top: 0;
				}
			}

			.thim-course-grid {
				> p {
					margin-left: 15px;
					margin-right: 15px;
				}

				.course-passed {
					padding-bottom: 20px;

					.value {
						font-weight: 700;
					}
				}

				.cert-profile-view {
					margin: 0 0 15px;
					display: inline-block;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

table.list-book-event,
table.order_details,
table.quiz-history,
table.table-orders {
	tr {
		border: 0;

		th, td {
			border-width: 1px 1px 1px 0;
			border-color: #eee;
			border-style: solid;
			padding: 10px 15px;

			&:first-child {
				border-left-width: 1px;
			}
		}
	}
}