#review-overlay {
	background-color: rgba(0, 0, 0, .25);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	> .review-wrapper {
		align-self: center;
		background-color: rgba(0, 0, 0, .25);
		border-radius: 2px;
		padding: 6px;
		width: 450px;
	}

	.review-content {
		background-color: rgb(255, 255, 255);
		border-radius: 2px;
		padding: 24px;
		position: relative;
	}
}

#review {
	position: fixed;
	z-index: 99999;
	display: none;
	align-self: center;
	background-color: rgba(0, 0, 0, .25);
	border-radius: 2px;
	padding: 6px;
	width: 500px;
	top: 50px;
	left: 50%;
	margin-left: -250px;

	.review-content {
		background-color: rgb(255, 255, 255);
		border-radius: 2px;
		padding: 24px;
		position: relative;
	}

	h3 {
		font-size: 16px;
		margin: 0 0 20px;

		.close {
			float: right;
			border: none;
			text-decoration: none;
			width: auto;
			height: auto;
			margin-right: -9px;
			margin-top: -7px;

			&:before {
				font-size: 32px;
			}
		}

	}

	.review-fields {
		margin: 0 0 -20px;
		list-style: none;

		> li {
			margin: 0 0 20px 0;

			> label {
				display: block;
				margin: 0 0 7px;
				font-size: 15px;

				.required {
					margin-left: 5px;
					display: inline-block;
					vertical-align: middle;
					font-size: 24px;
					line-height: 1;
					height: 15px;
					margin-top: -3px;
				}
			}
		}
	}
}

.review-stars {
	margin: 0 0;
	list-style: none;
}

.review-stars:after {
	clear: both;
	content: '';
	display: block;
}

.review-stars > li {
	width: 40px;
	height: 40px;
	float: left;
}

.review-stars > li span {
	text-decoration: none;
	font-size: 40px;
	border-bottom: none;
	width: auto;
	height: auto;
}

.review-stars > li a:visited,
.review-stars > li a:focus {
	border: none;
}

.review-stars > li span:before {
	width: 40px;
	height: 40px;
}

.review-stars > li span.hover:before {
	content: "\f155";
	color: #F05A19;
	cursor: pointer;
}

#review .review-actions {
	text-align: right;
	padding-top: 20px;
	border-top: 1px solid #F0F0F0;
}

#review .submitting {
	display: none;
}

#review .review-stars {
	cursor: pointer;
}

.review-stars-rated {
	display: inline-block;
	position: relative;
}

.review-stars-rated .review-stars {
	display: inline-block;
}

.review-stars-rated .review-stars.filled {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	white-space: nowrap;
	overflow: hidden;
	color: #F05A19;
	height: 40px;
}

.review-stars.filled > li {
	position: absolute;
}

.review-stars.filled > li:nth-child(2) {
	left: 40px;
}

.review-stars.filled > li:nth-child(3) {
	left: 80px;
}

.review-stars.filled > li:nth-child(4) {
	left: 120px;
}

.review-stars.filled > li:nth-child(5) {
	left: 160px;
}

#course-reviews .loading {
	display: none;
}