//Check Out Page //
#learn-press-checkout {
	width: 100%;
	max-width: 100%;

	h2 {
		display: none;
	}

	.learnpress {
		#learn-press-checkout-form {
			margin: 0;
			@media(max-width: 815px) {
				display: unset;
			}

			.lp-checkout-form__before {
				float: none;
				width: 100%;
				margin: 0 0 50px 0;

				#checkout-order {
					h4 {
						margin-bottom: 30px;
						margin-top: 20px;
						text-transform: uppercase;
						font-size: 24px;
						@media(max-width: 767px) {
							font-size: 20px;
						}
					}

					.lp-checkout-order__inner {
						padding: 0px;
						border: unset;
						border-radius: unset;

						table {
							.course-thumbnail {
								border-right: unset;
							}

							.course-name {
								border-left: unset;
							}

							.order-total {
								.col-number {
									font-size: 16px;
								}
							}

							th {
								padding: 10px 15px;
								border: 1px solid #eee;
							}

							td {
								padding: 10px 15px;
								border: 1px solid #eee;
								text-align: left;
							}
						}
					}
				}

				.learn-press-checkout-comment {
					margin-top: 50px;

					h4 {
						margin-bottom: 30px;
						text-transform: uppercase;
						font-size: 24px;
						display: block;
						@media(max-width: 767px) {
							font-size: 20px;
						}
					}
				}
			}

			.lp-checkout-form__after {
				float: unset;
				width: 100%;

				#checkout-account-guest, #checkout-account-login, #checkout-account-register {
					max-width: 690px;

					h4 {
						margin-bottom: 30px;
						text-transform: uppercase;
						font-size: 24px;
						@media(max-width: 767px) {
							font-size: 20px;
						}
					}
				}

				#checkout-account-guest {
					#guest_email {
						width: 100%;
					}
				}

				#checkout-account-register {
					.lp-form-fields {
						.form-field {
							label {
								margin-bottom: 10px;
							}

							input {
								width: 100%;
							}
						}
					}
				}

				#checkout-account-login {
					.lp-form-fields {
						.form-field {
							label {
								margin-bottom: 10px;
							}

							#username {
								width: 100%;
							}
						}
					}

					.lp-checkout-remember {
						label {
							input[type="checkbox"] {
								top: -1px;

								&::after {
									display: none;
								}

								&::before {
									top: 50%;
									left: 50%;
									position: absolute;
									transform: translate3d(-50%, -50%, 0);
								}
							}
						}
					}
				}

				#checkout-payment {
					margin-top: 30px;
					margin-bottom: 0px;

					h4 {
						margin-bottom: 30px;
						text-transform: uppercase;
						font-size: 24px;
						@media(max-width: 767px) {
							font-size: 20px;
						}
					}

					.payment-methods {
						#learn-press-payment-method-paypal {
							#payment_method_paypal::before {
								margin: 0px;
							}
						}
					}

					#checkout-order-action {
						.lp-button {
							width: unset;
							text-transform: uppercase;
							font-size: 14px;

							&:hover {
								opacity: unset;
							}
						}
					}
				}

				.lp-terms-and-conditions {
					margin-top: 10px;
				}
			}
		}
	}
}

// remove list style when edit use
.learnpress-v4 .pmpro-has-access .entry-content .lp-profile-content ul {
	list-style: none;
}

// Profile Page //
#learn-press-profile.lp-user-profile {
	.lp-content-area {
		width: 100%;
	}

	#profile-sidebar {
		margin-top: 0;

		.lp-profile-user {
			padding: 20px 25px;
			border-top: 1px solid rgba(204, 204, 204, 0.3);
		}

		#profile-nav {
			.lp-profile-nav-tabs {
				li {
					position: relative;

					> a::after {
						display: none;
					}

					&.has-child {
						> a::after {
							display: block;
						}

					}

					&.active, &:hover {
						background: unset;

						&::after {
							content: "";
							position: absolute;
							width: 3px;
							height: 100%;
							top: 0;
							left: -1px;
							background: var(--thim-body-primary-color);
						}

						> a {
							color: #333;
						}
					}

					&.wishlist {
						a::before {
							color: var(--thim-body-primary-color) !important;
						}
					}
				}
			}
		}
	}

	.wrapper-profile-header {
		background: transparent;
		color: inherit;

		.lp-profile-content-area {
			min-height: 270px;
			padding-top: 0;
			padding-bottom: 0;
			@media (max-width: 990px) {
				min-height: inherit;
				padding: 0 0 20px 0;
			}

			.lp-user-profile-socials {
				position: absolute;
				bottom: 25px;
				margin-top: 0;
				left: 20px;
				right: 20px;
			}
		}

		.lp-profile-left {
			bottom: -1px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		.lp-profile-user-bio {
			padding-bottom: 35px;
		}
	}

	&.no-bio-user {
		@media (min-width: 990px) {
			.wrapper-profile-header {
				.lp-profile-content-area {
					min-height: inherit;
					position: static;
				}

				.lp-profile-left {
					bottom: auto;
					top: 0;
				}


			}
			#profile-sidebar {
				margin-top: 219px;
			}
		}
	}

	#profile-content {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 30px;
		margin-bottom: 0;

		#profile-header {
			width: 100%;
			@media (max-width: 1024px) {
				padding: 0;
			}
		}

		.lp-profile-header__inner {
			margin-bottom: 25px;
			padding-bottom: 45px;
			border-bottom: 1px solid #ddd;

			@media screen and (max-width: 990px) {
				padding-top: 60px;
			}

			.lp-profile-username {
				font-weight: bold;
				font-size: 22px;
				margin-bottom: 15px;
			}
		}

		#dashboard-general-statistic {
			padding-bottom: 5px;

			.dashboard-general-statistic__row {
				margin: 0 -10px;

				.statistic-box {
					width: calc(20% - 20px);
					padding: 12px 20px;
					margin: 0 10px 20px 10px;
					border-radius: 0;
					border: none;
					min-width: 120px;

					.statistic-box__text {
						font-size: 0.8em;
						text-transform: uppercase;
						line-height: 1.3em;
					}

					.statistic-box__number {
						font-size: 2em;
						margin: 15px 0 10px 0;
						display: inherit;
					}
				}
			}

			@media screen and (max-width: 768px) {
				overflow-x: scroll;
				.dashboard-general-statistic__row {
					width: max-content;
					display: block;

					.statistic-box {
						float: left;
						max-width: 120px;
					}
				}
			}
		}
		.learn-press-subtab-content a {
			cursor: pointer;
		}
		.learn-press-course-tab-filters .learn-press-filters a{
			&.active,&:hover {
				color: var(--thim-body-primary-color);
			}
		}
		.learn-press-profile-course__tab__inner{
			background: #f4f4f5;
			a {
				color: #333;
 				&.active {
					border-top-color: var(--thim-body-primary-color);
					color: var(--thim-body-primary-color);
				}
			}
		}
		.learn-press-profile-course__progress .lp_profile_course_progress__header{
			background: #f4f4f5;
		}
		.lp_profile_course_progress__item a {
			color: #333;
 			&:hover {
				color: var(--thim-body-primary-color);
			}
		}

	}

	@media (max-width: 1024px) {
		.lp-content-area {
			padding-right: 0;
			padding-left: 0;
		}
	}

	.wrap-fullwidth {
		margin: 0;
	}

	.learn-press-form {
		width: 48%;
		float: left;
		padding: 40px 20px;
		border-radius: 0;
		margin-bottom: 25px;

		.form-fields .form-field input {
			border-radius: 0;

			&:focus {
				border: 1px solid;
				outline: none !important;
				box-shadow: 0 0 0 !important;
			}
		}

		h3 {
			margin-top: 0;
		}

		ul {
			list-style: none;
		}
	}

	.learn-press-form-register {
		float: right;
	}

	@media (max-width: 600px) {
		.learn-press-form {
			width: 100%;
			float: none;
		}
	}
}

.learn-press-tabs {
	.learn-press-tabs__tab, .learn-press-tabs__nav {
		background: #f9f9f9;
	}
}

body {
	.learn-press-4 .course-curriculum {
		ul.curriculum-sections {
			.section-content {
				.course-item.has-status.status-completed {
					.course-item-status {
						background: transparent;
					}
				}
			}
		}
	}

	#lesson-sidebar {
		#learn-press-content-item {
			.content-item-wrap {
				.content-item-summary {
					.lp-button {
						vertical-align: inherit;
						padding: 10px 24px;
						border: 0;
						border-radius: 0;

						&.completed {
							margin: 25px 0;
						}

						i {
							margin-right: 10px;
						}
					}

					.content-item-description {
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	&.course-item-popup {
		#learn-press-course-curriculum,
		#learn-press-content-item {
			overflow-y: scroll;
		}

		&.full-screen-content-item {
			.learn-press-4 {
				#learn-press-course-curriculum {
					@media (max-width: 767px) {
						left: 0;
					}
				}
			}
		}
	}

	.learn-press-4 #learn-press-course-curriculum ul.curriculum-sections .section-header {
		border-bottom: none;
	}

	.learn-press-4 {

		.course-forum {
			margin-top: -20px;
		}

		.course-payment {
			.lp-course-buttons {
				.purchase-course .lp-enroll-notice {
					display: none;
				}

				> form {
					display: inline-block;
				}

				margin-bottom: 20px !important;

				.course-wishlist-box {
					display: inline-block;

					span {
						padding: 5px 15px;
						transform: translateY(1px);
						color: #333;
						transition: all .3s;
						margin-left: 12px;
						font-size: 14px;

						span {
							padding: 0;
						}
					}
				}

				.lp-ajax-message {
					padding: 0;
					border: 0;
					margin: 0;
					color: var(--thim-body-primary-color);
				}
			}
		}

		.lp-course-buttons .lp-button {
			display: inline-block;
		}

		#popup-course #popup-content {
			#learn-press-quiz-app {
				.questions-pagination .nav-links .page-numbers {
					&.current, &:hover {
						color: var(--thim-body-primary-color);
					}
				}
			}

			.lp-button.completed i {
				margin-right: 9px;
				margin-left: 0px;
			}
		}

		#learn-press-quiz-app {
			&:after {
				clear: both;
				display: table;
				content: "";
			}

			.quiz-buttons {
				padding-top: 20px;
			}

			.submit-quiz {
				padding: 15px 0;
			}

		}

		.quiz-result {
			float: none;
			margin-right: auto
		}

		.entry-content-left {
			input[name="course-extra-box-ratio"] {
				display: none;
			}
		}

		.course-tabs input[name="course-faqs-box-ratio"] {
			display: none;
		}

		.course-tab-panel-faqs {
			padding-top: 0;

			.course-faqs-box:last-child {
				margin-bottom: 0;
			}

			input[name="course-faqs-box-ratio"]:checked + .course-faqs-box,
			.course-faqs-box:hover {
				background: transparent;
			}

			.course-faqs-box {
				border-radius: 0;
				border: none;
				border-bottom: 1px solid rgba(241, 242, 248, 0.8);
			}

			.course-faqs-box__title {
				padding-left: 0;
				padding-right: 20px;

				&:after {
					right: 0;
				}
			}

			.course-faqs-box .course-faqs-box__content .course-faqs-box__content-inner {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	#learn-press-profile #profile-content .lp-button,
	.learn-press-4 .lp-course-buttons .lp-button {
		//display: inline-block;
		font-size: 13px;
		line-height: 40px;
		height: 40px;
		border: 0;
		border-radius: 0;
		padding: 0 25px;
		text-transform: uppercase;
		font-weight: 700;
		color: #333;
		background-color: #ffb606;
		margin-right: 0;
		&:hover {
			background-color: #e6a303;
			color: #333;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		@media (max-width: 321px) {
			padding: 0 15px;
		}
	}

	&.learnpress-v4 {
		.learn-press-message.coming-soon-message {
			&:before, &:after {
				display: none;
			}
		}

		.lp-single-course .learn-press-coming-soon-course-message {
			margin: 30px 0;
			color: #8a6d3b;
			background: #fcf8e3;
			line-height: 20px;
			padding: 10px 15px;
		}
	}
}


.learn-press-message {
	border-radius: 0;
}

// single course
body {
	&.lp-sidebar-toggle__close.learnpress-v4 {
		.lp-single-course {
			#popup-course {
				#popup-sidebar {
					flex: 0 0 0;
				}

				#popup-header, #popup-footer {
					left: 0px;
				}

				#popup-header {
					.thim-course-item-popup-right {
						#sidebar-toggle {
							&.toggle-content-item::before {
								content: "\f066";
							}
						}
					}
				}
			}
		}
	}

	&.lp-sidebar-toggle__open.learnpress-v4 {
		#popup-course #popup-header .popup-header__inner {
			@media (max-width: 768px) {
				.items-progress {
					display: none;
				}
			}
			@media (max-width: 480px) {
				.form-button-finish-course {
					display: none;
				}
			}
		}
	}
}

.learnpress-v4 {
	.lp-single-course {
		.lp-content-area{
			width: 100%;
		}
		@media (max-width: 768px) {
			.lp-content-area {
				padding-right: 0;
				padding-left: 0;
			}
		}

		#learn-press-course {
			.course-summary {
				.course-content {
					#learn-press-course-tabs {
						margin-top: 0;

						.tab-content {
							.tab-pane {
								.learn-press-message::before {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		#learn-press-course-curriculum {
			.curriculum-scrollable {
				.curriculum-sections {
					padding-top: 0;
					.section {
						.section-header {
							height: unset;
							display: block;
							width: unset;
							margin: 0 !important;
							padding-bottom: 30px !important;
							padding-top: 30px !important;
							background-color: #fff;

							.collapse, .meta {
								top: 50% !important;
								margin-top: -15px;
							}

							@media (max-width: 480px) {
								padding-bottom: 15px !important;
								padding-top: 15px !important;
								font-size: 1em;
							}
						}

						.section-desc {
							padding-left: 20px !important;
							padding-right: 20px !important;
						}

						.section-content {
							.course-item {
								@media (max-width: 480px) {
									.meta-left {
										min-width: inherit;

										.index .label {
											display: none !important;
										}
									}
									.course-item-title {
										max-width: calc(100% - 80px);
										max-width: -webkit-calc(100% - 80px);
										max-width: -moz-calc(100% - 80px);
									}
									.course-item-meta {
										position: initial;
										top: 0;
										right: auto;
										left: 0;
										float: none;
										width: 100%;

										.meta {
											padding: 0;
											margin: 5px 0 0 0;
										}

										.course-item-status, .lesson-preview {
											position: absolute;
											top: 15px;
											right: 0;
										}
									}
								}

								> span {
									width: unset;
									margin-right: 5px;

									@media screen and (max-width: 480px) {
										padding-left: 0 !important;
									}
								}

								.course-item-meta {
									display: flex !important;
									//.item-meta {
									//	display: none !important;
									//}
									.count-questions, .duration {
										background: transparent !important;
										font-style: italic;
									}
								}

								&.item-locked {
									.course-item-meta {
										.item-meta {
											display: inline-block !important;
											//transform: translateY(-3px);

											@media screen and (max-width: 480px) {
												margin-right: 5px;
											}
										}
									}
								}

								&.has-status {
									&.status-completed {
										.course-item-meta {
											.item-meta {
												display: inline-block !important;
											}
										}

										&.passed {
											.course-item-status {
												background: #3bb54a;

												&::before {
													color: #fff;
												}
											}
										}

										.lesson-preview {
											.fa-eye:before {
												content: "\f00c";
												font-size: 12px;
												font-weight: 900;
											}
										}

									}

									&.failed {
										.course-item-status {
											&:before {
												color: #fff
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		#popup-course {
			.learn-press-progress .learn-press-progress__active {
				background: var(--thim-button-text-color);
			}

			> #sidebar-toggle {
				display: none;
			}

			#sidebar-toggle::before {
				content: '\f104';
			}

			#sidebar-toggle:checked::before {
				content: '\f105';
			}

			#popup-header {
				display: block;

				.popup-header__inner {
					width: 100%;
					padding-left: 20px;
					justify-content: flex-end;

					.form-button-finish-course .lp-button {
						background: var(--thim-body-secondary-color);
						color: #fff;
					}

					@media (max-width: 1024px) {
						padding-right: 0;
					}
					@media (max-width: 767px) {
						flex-direction: row;
						width: max-content;
						justify-content: flex-end;
						min-width: 100%;
						.items-progress {
							padding-bottom: 0;
						}
					}
					@media (max-width: 480px) {
						.items-progress {
							display: none;
						}
					}
				}

				.course-title {
					margin-left: 40px;

					a {
						color: white;
					}

					@media screen and (max-width: 767px) {
						display: none;
					}
				}

				@media screen and (max-width: 767px) {
					justify-content: flex-end;
				}

				.thim-course-item-popup-right {
					float: right;
					display: flex;
					order: 10;

					#sidebar-toggle {
						&.toggle-content-item {
							position: relative;
							top: unset;
							left: unset;
							height: 70px;
							width: 70px !important;
							background: transparent;
							border: none;
							box-shadow: none;
							opacity: 0.6;

							&:hover {
								opacity: 1;
							}

							&::before {
								content: "\f065";
								color: #fff;
								font-size: 24px;
							}
						}
					}

					.back_course {
						width: 70px;
						height: 70px;
						line-height: 70px;
						text-transform: none;
						text-align: center;
						color: #fff;
						font-size: 26px;
						cursor: pointer;
						display: block;
						opacity: 0.6;

						&:hover {
							opacity: 1;
						}
					}
				}
			}

			#popup-sidebar {
				z-index: 3;
				box-shadow: 0 0 0;

				.search-course {
					input[name="s"] {
						padding-left: 45px;

						&::placeholder {
							color: var(--thim-button-text-color);
						}
					}

					button {
						right: unset;
						left: 10px;

						&::before {
							color: var(--thim-button-text-color);
						}
					}
				}

				#learn-press-course-curriculum {
					padding-right: 1px;

					&:after {
						content: "";
						width: 1px;
						top: 0;
						bottom: 0;
						display: block;
						background: #eee;
						position: absolute;
						right: 0;
						z-index: 1;
					}

					.curriculum-scrollable {
						.curriculum-sections {
							.section {
								.section-header {
									height: unset;
								}

								.section-content {

									.course-item {
										padding: 11px 13px 11px 20px !important;
										height: inherit;
										min-height: 60px;

										&.hide-if-js {
											display: none !important;
										}

										&.has-status {
											&.status-completed {
												&.passed {
													.course-item-status {
														background: #3bb54a;

														&::before {
															color: #fff;
														}
													}
												}

												.lesson-preview {
													.fa-eye:before {
														content: "\f00c";
														font-size: 12px;
														font-weight: 900;
													}
												}

											}

											&.failed {
												.course-item-status {
													&:before {
														color: #fff
													}
												}
											}
										}
									}

									@media screen and (max-width: 1280px) {
										.course-item {
											.course-item-title {
												max-width: calc(100% - 80px);
												max-width: -webkit-calc(100% - 80px);
												max-width: -moz-calc(100% - 80px);
											}
										}
										.course-item-meta {
											position: initial;
											top: 0;
											right: auto;
											left: 0;
											float: none;

											.meta {
												padding: 0;
												margin: 5px 0 0 0;
											}

											.course-item-status, .lesson-preview {
												position: absolute;
												top: 15px;
												right: 4px;
											}
										}
									}

								}
							}
						}
					}
				}
			}

			#popup-content {
				.lp-lesson-comment-btn {
					display: none !important;
				}

				#learn-press-item-comments {
					position: static;
					opacity: 1;
					visibility: visible;
					overflow: visible;
					background: transparent;
					pointer-events: auto;

					.learn-press-comments {
						padding-top: 0;
						margin-top: 0;
						@media screen and (max-width: 768px) {
							max-width: 100%;
							width: 100%;
							padding: 0 20px;
						}

						.comments-title {
							margin-top: 0;
							margin-bottom: 50px;
							font-size: 22px;
						}

						.comment-list-inner {
							li {
								.comment-right {
									@media screen and (max-width: 479px) {
										width: 100%;
									}
								}
							}
						}
					}
				}

				#learn-press-content-item {
					position: unset;
					background: unset;
					overflow: unset;

					.content-item-scrollable {

						.lp-button {
							border: none;
							border-radius: 0;
							background: var(--thim-body-primary-color);
							color: var(--thim-button-text-color);
							padding-left: 25px;
							padding-right: 25px;
							text-transform: uppercase;
							margin-top: 25px;

							&:hover {
								background: var(--thim-button-hover-color);
							}

							&.completed {
								width: auto;
								display: inline-block;
							}
						}

						.submit-quiz .lp-button {
							margin: 0;
							background: #333;
							color: #fff;

							&:hover {
								background: var(--thim-button-hover-color);
								color: var(--thim-button-text-color);
							}
						}

						.content-item-wrap {
							.form-button {
								margin-top: 0;
							}

							.content-item-summary {
								@include clearfix();

								#learn-press-quiz-app {
									.quiz-intro {
										flex-wrap: wrap;
									}
								}
							}

							#content-item-quiz {
								#learn-press-quiz-app {
									.quiz-questions {
										&:focus {
											outline: unset;
										}

										.question:focus {
											outline: unset;

											.question-answers {
												outline: unset;
											}
										}

										.question-answers {
											.answer-options {
												.answer-option {
													input[type="checkbox"] {
														&::before {
															display: none;
														}
													}

													input[type="radio"] {
														&::before {
															display: none;
														}

														&::after {
															top: 50%;
															left: 50%;
															transform: translate3d(-50%, 50%, 0);
														}
													}
												}
											}
										}
									}
								}
							}

							@media (max-width: 767px) {

								.content-item-summary, .edit-course-item-link {
									margin-left: 0;
									margin-right: 0;
									padding: 0 20px;
								}
							}
							@media (max-width: 320px) {
								text-align: center;
								.form-button {
									margin-top: 0;
									margin-right: 0;

									&.form-button-finish-course {
										float: none;

										.lp-button {
											margin-top: 10px;
										}
									}
								}

							}
						}
					}
				}

				@media (max-width: 991px) and (min-width: 768px) {
					#learn-press-content-item .content-item-wrap .content-item-summary {
						.course-item-title {
							padding: 0;
						}

						padding: 0;
					}
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			#popup-footer {
				max-width: 700px;
				border-top-style: dashed;

				.course-item-nav {
					border: none;
					overflow: visible;
					padding: 0;
					margin: 0;
					display: flex;
					@media(max-width: 1024px) {
						width: 100%;
					}
				}
			}
		}
	}

	.course-item-title > span.item-name {
		padding: 0 !important;
		font-size: 1em !important;
		font-weight: normal !important;
	}

	#learn-press-checkout {
		width: 1170px;
	}

	.quiz-status > div {
		border-radius: 0;
		background: var(--thim-body-primary-color);

		.questions-index, .questions-index span {
			color: var(--thim-button-text-color);
		}
	}

	#learn-press-checkout {
		margin-top: 70px;
	}

	.course-extra-box {
		border-radius: 0;
		margin-bottom: 15px;

		.course-extra-box__title {
			font-size: 1.2em;
			background: transparent;
		}

		.course-extra-box__content {
			border-top: 1px solid rgba(204, 204, 204, 0.3);
		}
	}

	.lp-single-course .lp-course-progress-wrapper {
		.learn-press-progress {
			margin-top: 5px;
			width: 200px;
			border-radius: 0;
			background: #eee;
		}
	}

	#checkout-payment .payment-methods .lp-payment-method .gateway-input:before {
		margin: 0;
	}

	.course-rating {
		overflow: hidden;
	}

	.write-a-review {
		margin-top: 25px;
	}

	#review-form {
		.review-stars > li {
			width: 22px;
			height: 22px;

			span {
				font-size: 22px;

				&.hover:before {
					color: #ffb606;
				}
			}
		}

		.review-fields > li > label .required {
			font-size: 1em;
			color: red;
		}
	}

	.course-reviews-list li {
		margin: 0;
		background: transparent;
		border: none;
	}

	.course-review {
		.review-stars-rated {
			margin: 0;

			.review-star {
				margin: 0;
				float: left;
			}
		}
	}

	.lp-content-area {
		padding-bottom: 35px;
		@include clearfix();
	}

	&.thim-child-crypto {
		.lp-content-area {
			padding-bottom: 0;
		}
	}

	&.thim-style-content-new-1 {
		#learn-press-course-curriculum ul.curriculum-sections {
			.section-header {
				.meta {
					right: 15px;
				}

				.collapse {
					left: 10px;
				}
			}

			.section .section-desc {
				margin: 0 0 10px 0;
				padding-top: 10px;
			}

			.section-content .course-item {
				padding-left: 20px !important;
				padding-right: 20px !important;

				.course-item-meta {
					right: 10px;
				}
			}
		}

		.course_right .menu_course ul li {
			.fa-question-circle:before {
				content: "\e7da";
			}
		}
	}

	#popup-course #popup-footer .course-item-nav {
		.prev:hover, .next:hover {
			a, &:before {
				color: var(--thim-body-primary-color);
			}
		}
	}

	#learn-press-course .learn-press-course-wishlist, #learn-press-profile .learn-press-course-wishlist {
		position: static !important;
	}

	@media screen and (max-width: 480px) {
		.quiz-status {
			& > div {
				display: inherit;
				height: auto;
				text-align: center;
				padding: 5px;

				.questions-index {
					margin-top: 15px;
				}

				div:nth-child(3) {
					justify-content: center;
					flex: 0 0 100%;

					.lp-button {
						margin-right: 0;
					}
				}
			}
		}
	}

	.learn-press-message {
		&:before, &:after {
			right: 10px;
		}
	}

	&.admin-bar {
		#popup-course {
			top: 0;
		}

		&.viewing-course-item {
			#wpadminbar {
				display: none !important;
			}
		}
	}

	.content_course_2 {
		#learn-press-course-description {
			.thim-course-info {
				.course-wishlist-box {
					button {
						font-size: 0 !important;
						padding: 0 !important;;
						background: transparent !important;
						right: 25px;
						top: 10px;

						&.on:before {
							color: var(--thim-button-hover-color);
						}

						&:before {
							line-height: 20px;
							font-size: 18px;
							margin-right: 0;
						}
					}
				}
			}
		}

		.sticky-sidebar .lp-course-buttons {
			.lp-button {
				width: 100%;
				border-radius: 50px;
			}

			form.purchase-course {
				margin-bottom: 20px;
			}
		}
	}

	.course-meta .lp-course-progress-wrapper {
		.lp-course-graduation {
			font-size: 0.8em;

			&.failed {
				color: #f00;
			}

			&.passed {
				color: #3eadff;
			}

			&.in-progress {
				color: #0bb90a
			}
		}
	}

	.learn-press-comments, .quiz-status > div {
		max-width: 700px;
	}
}

div:focus {
	outline: unset;
}

// fix css in child theme
.thim-child-udemy {
	.thim-category-tabs .thim-course-content-hover-box {
		.read-more-course {
			display: block;
			padding: 5px 25px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			line-height: 30px;
			text-align: center;
			color: var(--thim-button-text-color);
			background: var(--thim-body-primary-color);

			&:hover {
				background: var(--thim-button-hover-color);
			}
		}
	}

	#masthead .navigation .thim-widget-course-categories {
		.widget-title {
			font-size: 16px;
			font-weight: 300;
			color: #555;
			margin: 0;
			padding: 17px 0 16px 23px;
			position: relative;

			&:before {
				content: '\f35c';
				font-family: Ionicons;
				font-size: 18px;
				position: absolute;
				top: 17px;
				left: 0;
			}
		}
	}

	&.single #main-content {
		#learn-press-course-curriculum {
			margin-top: 0 !important;
		}

		#popup-sidebar {
			#learn-press-course-curriculum {
				ul.curriculum-sections .section .section-content {
					padding: 0 !important;
				}
			}
		}

		.course-review-box .course-review .course-reviews-list > li {
			.review-star li {
				padding: 0
			}

			.review-container .review-text {
				margin: 0;
				width: -webkit-calc(100% - 140px);
			}
		}

		.entry-content-left .udemy_content_course #learn-press-course-curriculum {
			margin-top: 50px !important;
		}

		#learn-press-course-curriculum ul.curriculum-sections .section-header {
			.meta {
				right: 30px;
			}

			.collapse {
				left: 10px;
			}
		}

		.right-col__wrapper {
			.lp-course-progress-wrapper {
				padding: 0 17px
			}
		}
	}

	.lp-single-course.learn-press-4 .udemy_content_course {
		.course-tab-panel-faqs, .course-tab-panel-reviews {
			.course-rating h3 {
				margin-bottom: 25px;
			}

			.course-rating h3, .title-faq {
				border-bottom: 1px solid #eee;
				padding-bottom: 10px;
				margin-top: 0;
			}

			input[name="course-faqs-box-ratio"] {
				display: none
			}

			margin-top: 40px;
			border: 1px solid #eee;
			padding: 22px;
		}

		.course-tab-panel-faqs .course-faqs-box__title {
			font-size: 1.1em;
		}
	}
}

.thim-course-list .course-item .thim-course-content.archive_coming_soon > .course-price,
.thim-course-grid .course-item .thim-course-content.archive_coming_soon > .course-price {
	display: none;
}

@media screen and (max-width: 300px) {
	.learnpress-v4 {
		#popup-course #popup-header, #popup-course #popup-footer {
			left: 200px;
		}
	}
}

.footer-elegant {
	.copyright-area {
		.block-inline > aside.center-column {
			@media screen and (max-width: 480px){
				width: 100%;
				text-align: left;
				margin-top: 25px;
			}
		}
	}
}
body.thim-child-tech-camps.single-lp_course #back-to-top{
	right: 15px;
}