//#your-profile
#your-profile{
	ul{
		list-style: none;
		margin: 0;
		overflow: hidden;
		li{
			list-style: none;
		}
		&.learn-press-subtabs{
			li{
				float: left;
				display: inline-block;
				margin: 0;
				position: relative;
				border-bottom: 1px solid #eee;
				&:after{
					bottom: -1px;
					z-index: 10;
					background: 0 0;
					left: 0;
					right: 3px;
					height: 1px;
					content: '';
					position: absolute;
				}
				&.current{
					&:before{
						content: '';
						position: absolute;
						left: 0;
						right: 3px;
						top: 0;
						height: 3px;
						z-index: 10;
					}
					&:after{
						background: #fff;
					}
					span,a{
						background: #fff;
					}
				}
				&:last-child{
					&.current:before{
						right: 0;
					}
					&:after{
						right: 0;
					}
					span,a{
						margin-right: 0;
					}
				}
				span,a{
					padding: 5px 15px;
					line-height: 25px;
					font-size: 12px;
					min-width: 100px;
					display: inline-block;
					border: 1px solid #eee;
					border-bottom: 0;
					font-weight: 700;
					background: #f9f9f9;
					margin-right: 3px;
					text-align: center;
				}
			}
		}
	}
	.learn-press-subtab-content{
		clear: both;
		padding: 30px 30px 40px;
		border: 1px solid #eee;
		margin: 30px 0;
		.lp-form-field{
			margin-bottom: 20px;
			.description{
				margin-bottom: 10px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	#lp-upload-photo{
		padding: 5px 10px;
		background: #f2f2f2;
		border: 1px solid #a0a0a0;
		color: #333;
		font-weight: 400;
		font-size: 14px;
		border-radius: 3px;
		line-height: 18px;
		text-transform: none;
	}
	#lp-remove-upload-photo{
		background: transparent;
		border: none;
		font-weight: 400;
		font-size: 14px;
		text-align: center;
		text-transform: none;
		border-radius: 50%;
		color: red;
		padding: 0;
		margin: 0;
		margin-left: 15px;
		line-height: 25px;
	}
	.title{
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
		margin-bottom: 30px;
	}
	input,select{
		width: 250px;
		max-width: 100%;
	}
	input[type=checkbox] {
		width: auto;
	}

	textarea{
		width: 100%;
		max-width: 100%;
	}
	input[type=submit]{
		&[disabled="disabled"]{
			color: #666;
			cursor: no-drop;
			background: #ccc;
			&:hover{
				color: #666;
				background: #ccc;
			}
		}
		width: auto;
	}
	label{
		display: block;
		color: #333;
		font-weight: 700;
	}
	.info-field{
		display: block;
		overflow: hidden;
		clear: both;
		&.end-box{
			margin-bottom: 50px;
		}
	}
	.change-password{
		margin-bottom: 0;
		display: block;
		padding-bottom: 0;
	}
	.link-change-password{
		display: inline-block;
		margin-bottom: 0;
		&:hover{
			text-decoration: underline;
		}
	}
	#user_profile_password_form{
		margin-bottom: 0;
		padding-top: 15px;
		.error{
			margin: 15px 0 0;
			border: 0;
			border-radius: 0;
			line-height: 20px;
			padding: 10px 15px;
			font-size: 13px;
			color: #a94442;
			background: #f2dede;
			display: block;
		}
	}
	.learn-press-message{
		margin: 0 0 20px;
		border: 0;
		border-radius: 0;
		line-height: 20px;
		padding: 10px 15px;
		font-size: 13px;
		display: block;
		&.error{
			color: #a94442;
			background: #f2dede;
		}
		&.success{
			color: #3c763d;
			background: #dff0d8;
		}
	}
	input#pass2{
		margin-bottom: 0;
	}
}

.course-curriculum {
	ul.curriculum-sections {
		.section-content {
			.course-item {
				border-bottom: none;

				&.has-status {
					&.status-completed {
						.course-item-status {
							color: #fff;
							border-radius: 50%;
							background-color: #54B551;
							width: 22px;
							line-height: 22px;
							display: block;
							height: 22px;
							text-align: center;
							margin-top: 3px;

							&:before {
								content: "\f00c";
							}
						}

						.lesson-preview .fa-eye {
							font-weight: 900;
							&:before {
								content: "\f00c";
								font-size: 14px;
							}
						}
					}

					&.passed {
						color: #666;
					}
				}

				.course-item-meta {
					vertical-align: middle;

					.course-item-status {
						&:before {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

#learn-press-course-curriculum {
	.learn-press-breadcrumb {
		display: none;
	}
}

body.course-item-popup {
	overflow: hidden;

	.site-header {
		z-index: 0;
	}

	&.wpadminbar {
		#course-item-content-header {
			top: 32px;
		}
	}

	#learn-press-course-curriculum,
	#learn-press-content-item {
		overflow-y: scroll;
	}

	#learn-press-course-curriculum {
		position: fixed;
		bottom: 0;
		z-index: 10;
		left: 0;
		width: 400px;
		background-color: #fff;

		.learn-press-breadcrumb {
			background: #f9fafa;
			padding: 20px 23px 25px 18px;
			margin: 0;
			display: block;

			a {
				font-size: 13px;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 30px;
				display: inline-block;
			}

			.fa {
				line-height: 30px;
				display: inline-block;
				font-size: 15px;
				padding: 0 12px;
			}

			.item-name {
				display: block;
				font-size: 22px;
				color: #999;
				line-height: 1.3;
				padding-top: 9px;
			}
		}

		ul.curriculum-sections {
			border-top: 1px solid #eee;

			.section-header {
				margin-top: 30px;

				.collapse {
					left: 10px;
					top: -3px;
				}

				.meta {
					font-weight: normal;
				}
			}

			.section-desc {
				padding-left: 15px;
				padding-right: 15px;
			}

			.section-content {
				.course-item {
					padding: 15px 18px 13px;
					line-height: 20px;
					position: relative;

					.course-item-title {
						max-width: calc(100% - 70px);
						max-width: -webkit-calc(100% - 70px);
						max-width: -moz-calc(100% - 70px);
					}

					a.course-item-title {
						line-height: 20px;

					}

					span, .index {
						line-height: 20px;
					}

					.meta {
						float: none;
						clear: both;
						display: block !important;
						padding-left: 55px;
						padding-top: 3px;
						width: auto;
					}

					.course-item-meta {
						position: absolute;
						top: 15px;
						right: 10px;
					}

					.index {
						min-width: 30px;

						span.label {
							display: none !important;
						}
					}

					.meta-left {
						min-width: inherit;
						padding-right: 0;
					}

					&.current {
						&:before {
							display: none;
						}
					}
				}

				.course-item.has-status.status-completed {
					.course-item-status {
						margin-top: 0;
					}
				}
			}
		}

		//&:before {
		//	height: 100%;
		//	content: '';
		//	position: absolute;
		//	left: 399px;
		//	width: 1px;
		//	background: #eee;
		//	top: 0;
		//	bottom: 0;
		//	z-index: 10;
		//	min-height: calc(100vh - 200px);
		//	min-height: -webkit-calc(100vh - 200px);
		//	min-height: -moz-calc(100vh - 200px);
		//}
	}

	.scroll-wrapper {
		&:hover {
			.scroll-element {
				opacity: 0.8;
			}
		}

		> .scroll-element {
			.scroll-element_size {
				left: 3px;
			}

			&.scroll-y {
				right: 2px;
				width: 8px;

				.scroll-element_outer {
					width: 7px;
				}

				.scroll-bar {
					width: 7px;
					background-color: #999999;
				}
			}
		}
	}

	#learn-press-content-item {
		position: fixed;
		z-index: 99999;
		background: #FFF;
		left: 400px;
		top: 90px;
		right: 0;
		bottom: 0;
		//overflow: hidden;
		#course-item-content-header {
			top: 0;
			left: 0;
			background: #ffb606;
			z-index: 100;
			padding: 0;
			position: fixed;
			right: 0;
			height: 90px;
			line-height: 90px;
			-webkit-transform: translate3d(0, 0, 0);
			-o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);

			.courses-searching {
				position: relative;
				line-height: 90px;

				.form-control {
					background: transparent;
					border: transparent;
					box-shadow: none;
					padding-left: 70px;
					color: rgba(255, 255, 255, 0.65);
					line-height: 90px;
					height: 90px;
					font-size: 16px;
					max-width: 400px;

					&::-webkit-input-placeholder {
						color: rgba(255, 255, 255, 0.65);
					}

					&:-moz-placeholder { /* Firefox 18- */
						color: rgba(255, 255, 255, 0.65);
					}

					&::-moz-placeholder { /* Firefox 19+ */
						color: rgba(255, 255, 255, 0.65);
					}

					&:-ms-input-placeholder {
						color: rgba(255, 255, 255, 0.65);
					}

					&:focus {
						&::-webkit-input-placeholder {
							color: transparent;
						}

						&:-moz-placeholder { /* Firefox 18- */
							color: transparent;
						}

						&::-moz-placeholder { /* Firefox 19+ */
							color: transparent;
						}

						&:-ms-input-placeholder {
							color: transparent;
						}
					}
				}

				button {
					top: 0;
					bottom: 0;
					width: 70px;
					left: 0;
					background: transparent;
					color: #fff;
					text-align: center;
					position: absolute;
					line-height: 90px;
					height: 90px;
					font-size: 23px;
					padding: 0;

					.fa {
						line-height: 90px;
					}
				}

				.courses-list-search {
					color: #666;
					margin: 0;
					overflow: auto;
					line-height: 30px;
					background: #fff;
					border: none;
					min-width: 270px;
					position: absolute;
					height: calc(100vh - 90px);
					height: -webkit-calc(100vh - 90px);
					height: -moz-calc(100vh - 90px);
					width: 100%;
					max-width: 385px;
					visibility: hidden;
					padding-left: 0;
					@include transition(none);
					cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RUNEQkY4MkZBRDY3MTFFNkI3RTRGQzAxM0E3RjBCMDAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RUNEQkY4MzBBRDY3MTFFNkI3RTRGQzAxM0E3RjBCMDAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFQ0RCRjgyREFENjcxMUU2QjdFNEZDMDEzQTdGMEIwMCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFQ0RCRjgyRUFENjcxMUU2QjdFNEZDMDEzQTdGMEIwMCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlMNdGQAAAB2SURBVHjavJRRFoAgCAQZ73/nen1aYixQ/MoOyKKY2WFzYHpMjPGWoAI9qAJe5g1VEDknAEAsCNFEJQ+lg2hhGtx/cCi6v2RQcN/Vk12bnfbXTttnWnZ/dMzwrvv0RbW//ZYrR78+Muu0g5JdJw9KZZ2uOAUYAEC8HRoqW0/5AAAAAElFTkSuQmCC'), progress;
					&.search-visible {
						visibility: visible;
					}

					li {
						list-style: none;
						line-height: 30px;
						padding: 6px 20px;
						//height: 30px;
						border-bottom: 1px solid #eee;
						display: block;

						&:first-child {
							margin-top: 20px;
						}

						a {
							display: inline-block;
							line-height: 30px;
							@include transition(none);
							color: #333;

							&:hover {
								text-decoration: underline;
								color: #333 !important;
							}
						}
					}
					@media (max-width: 991px) and (min-width: 768px){
						max-width: 285px;
					}
					@media (max-width: 480px) {
						max-width: inherit;
					}
				}
			}

			.back_course {
				width: 90px;
				height: 90px;
				line-height: 90px;
				text-transform: none;
				text-align: center;
				color: #fff;
				font-size: 13px;
				font-weight: 700;
				z-index: 99999;
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;

				.fa {
					font-size: 29px;
					vertical-align: middle;
				}

				@include opacity(0.7);

				&:hover {
					@include opacity(1);
				}

				&:before, &:after {
					display: none;
				}
			}

			.toggle-content-item {
				width: 90px;
				height: 90px;
				line-height: 90px;
				text-transform: none;
				text-align: center;
				color: #fff !important;
				font-size: 13px;
				font-weight: 700;
				z-index: 99999;
				position: absolute;
				top: 0;
				right: 90px;
				cursor: pointer;
				border-left: none;
				@include opacity(0.7);
				background: transparent;
				box-shadow: 0 0 0;
				margin: 0;

				&:hover {
					@include opacity(1);
				}

				&:before {
					//width: inherit;
					font-family: 'Font Awesome 5 Free' !important;;
					content: "\f065";
					line-height: 90px;
					font-size: 24px;
					font-weight: 900;
					color: #fff !important;
				}
			}
		}

		.content-item-wrap {
			padding-bottom: 30px;
			.content-item-summary, .course-item-nav, .edit-course-item-link,
			.message, .learn-press-message, .comments-area, .learn-press-content-protected-message {
				margin: 10px auto;
				max-width: 700px;
			}

			.message {
				margin-bottom: 20px;
				margin-top: 20px;
				display: block;
				width: 100%;
			}
		}
	}

	div#learn-press-content-item {
		top: 90px;

	}

	div#learn-press-course-curriculum {
		top: 90px;
	}

	.lp-single-course {
		#course-curriculum-popup {
			position: fixed;
			left: 0;
			top: 90px;
			bottom: 0;
			background-color: #fff;
			width: 100vh;
			z-index: 9999;
		}
	}

	#course-curriculum-popup {
		#popup-sidebar {
			width: 100%;
			height: 100%;
			top: auto;

			#learn-press-course-curriculum {
				top: auto;
				width: 100%;
				height: 100%;
				ul.curriculum-sections {
					.section-content {
						.course-item {
							position: relative;

							.course-item-meta {
								position: absolute;
								right: 15px;
								top: 15px;
							}
						}
					}
				}
			}
		}
	}

	&.full-screen-content-item {
		#learn-press-content-item {
			#course-item-content-header {
				.toggle-content-item {
					&:before {
						content: "\f066";
					}
				}
			}
		}
	}

	&.thim-style-content-new-1 {
		#learn-press-course-curriculum {
			ul.curriculum-sections {
				padding-top: 0;

				.section {
					background-color: #fff;

					.section-header {
						margin-left: 5px;
						padding-left: 40px;
					}

					.section-desc {
						margin-left: 40px;
						padding-left: 5px;
					}
				}
			}
		}
	}
}

.profile-container {
	.profile-tabs {
		.learn-press-subtab-content {
			.lp-sub-menu {
				margin-bottom: 20px;
				margin-top: 30px;
				margin-left: 0;

				li {
					list-style: none;
					display: inline-block;
					padding-right: 15px;

					a {
						padding-bottom: 5px;
						color: #666;
					}

					span {
						padding-bottom: 2px;
						border-bottom: 2px solid #ffb606;
					}
				}
			}
		}
	}

	.profile-orders {
		.column-order-action {
			a {
				margin-right: 5px;
			}
		}
	}
}

#tab-curriculum {
	button {
		margin-bottom: 40px;
		margin-right: 15px;
	}

	form {
		display: inline-block;
	}
}

#order_review {
	#checkout-guest-email {
		margin: 20px 0 15px;
		padding-top: 10px;
		border-top: 1px solid #eee;

		.form-desc {
			margin-bottom: 10px;
		}

		#checkout-guest-options {
			margin-top: 15px;

			li {
				list-style: none;

				label {
					font-weight: normal;
				}
			}
		}
	}
}

body {
	&.rtl {

		#learn-press-course-tabs {
			.course-tab-panel-reviews {
				form {
					button {
						display: block;
						margin-left: 0;
						margin-right: auto;
					}
				}
			}
			.course-tab-panel-students-list {
				.course-students-list{
					.student-list-top{
						display: flex;
						justify-content: space-between;
					}
					.students{
						display: flex;
						margin-right: 0;
						margin-left: 25px;
						.user-info {
							display: flex;
							.right-info{
								padding-left: 0;
								padding-right: 15px;
							}
						}
					}
				}
			}
		}

		#learn-press-content-item {
			.content-item-scrollable {
				.comments-area {
					.form-submit {
						@media screen and (max-width: 480px) {
							text-align: left;
						}
					}
				}
			}
		}


		#learn-press-course-curriculum {
			.learn-press-breadcrumb {
				i {
					transform: rotate(180deg);
				}
			}
		}

		#profile-content-certificates {
			.course {
				float: none;
			}
		}

		.learn-press-question-options {
			& > li.answer-option {
				& > label {
					p.option-title {
						margin-left: 0;
						margin-right: 30px;
					}
				}
			}
		}

		.learn-press {
			.course-meta {
				.learn-press-course-results-progress- {
					@media screen and (max-width: 480px) {
						margin-top: 20px;
						margin-bottom: 20px;
					}
				}
			}
		}

		#lp-single-course {
			.course-payment {
				text-align: left;
			}
		}

		.thim-widget-courses-wrapper {
			.view-all-courses {
				right: auto;
				left: 0;
			}
		}

		#blog-archive {
			.readmore {
				text-align: left;
			}
		}
		.page-content {
			.comment-form{
				.form-submit{
					text-align: left;
				}
			}
		}

		#tab-overview {
			.thim-course-info {
				float: right;
				padding-right: 0;
			}
		}
	}
}