.collection-grid-1 {
	width: 100%;
}

.collection-grid-2 {
	width: 50%;
}

.collection-grid-3 {
	width: 33.33%;
}

.collection-grid-4 {
	width: 25%;
}

.collection-grid-5 {
	width: 20%;
}

[class*="collection-grid-"] {
	float: left;
	padding: 0 15px;
}

.thim-courses-collection {
	.item {
		position: relative;
		overflow: hidden;

		.title {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.7);
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			display: inline-block;
			line-height: 20px;
			padding: 15px 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		img {
			@include transition(all 0.3s ease-in-out);
		}

		&:hover {
			img {
				@include scale(1.05, 1.05);
			}

			.title {
				background: #000;
			}
		}
	}

	.collection-item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.thim-collection-carousel {
		padding-bottom: 80px;
		border-bottom: 1px solid rgba(124, 124, 124, 0.2);

		.thumbnail {
			overflow: hidden;
			text-align: center;
		}

		.item {
			padding-right: 20px;
			padding-left: 20px;
		}

		.content {
			text-align: center;
			padding-top: 30px;

			h3 {
				margin: 0;
				text-transform: uppercase;
				line-height: 20px;
				margin-bottom: 4px;

				.title {
					color: #202020;
					font-weight: 500;
					padding: 0;
					text-decoration: none;
					font-size: 18px;
					background-color: transparent;
					position: inherit;
				}
			}
		}
	}

	.owl-controls {
		.owl-buttons {
			> div {
				width: 55px;
				line-height: 55px;
				border-radius: 50%;
				border: none;
				position: absolute;
				overflow: hidden;
				top: 77px;
				z-index: 10;

				i {
					width: 55px;
					line-height: 55px;
					border-radius: 50%;
					border: none;
					color: #ffffff;
					font-size: 28px;
				}

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					content: "";
					z-index: -1;
					background-color: #353866;
					opacity: 0.6;
					@include transition();
				}

				&.owl-next {
					right: -9px;

					i {
						&:before {
							font-family: "Ionicons";
							content: "\f3d3";
						}
					}
				}

				&.owl-prev {
					left: -9px;

					i {
						&:before {
							font-family: "Ionicons";
							content: "\f3d2";
						}
					}
				}

				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}