.home-content,
.site-main {
	.widget-title {
		text-transform: uppercase;
		line-height: 30px;
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 7px 0;
	}
}
//
//.wrapper-container .custom-position-blog-slider-grandient-newsletter {
//	background-position: center center !important;
// }
//
//.vc_row.wpb_row.custom-position-blog-slider-grandient-top-center {
//	background-position: top center !important;
//}
//
//.vc_section.custom-position-blog-slider-grandient-top-center {
//	background-position: top center !important;
//}

.zindex-site-1 {
	z-index: -1;
}

.zindex-site {
	z-index: 9;
}

.widget-area {
	.widget_categories {
		.screen-reader-text {
			display: block;
		}
	}
	select {
		max-width: 100%;
		height: 30px;
		border: 1px solid #eee;
		line-height: 30px;
	}
	aside {
		overflow: hidden;
		padding: 0 20px;
		margin-bottom: 50px;
		position: relative;
		ul {
			li {
				list-style: none;
			}
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 1px;
			background: #e5e5e5;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 36px;
			z-index: 3;
		}
		.widget-title {
			position: relative;
			padding: 0;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 36px;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
		}
		&.widget_single-images:not(.custom-image) {
			padding: 0;
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		&.widget {
			.widget-title {
				margin-bottom: 8px;
			}
			ul {
				margin: 0;
				li {
					margin: 0;
					padding: 5px 0;
					line-height: 20px;
					font-weight: 400;
					font-size: 13px;
					a {
						font-weight: 700;
						font-size: 13px;
						text-transform: uppercase;
					}
					ul {
						padding-left: 20px;
						li {
							&:first-child {
								padding-top: 10px;
							}
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
				}
			}
			&.widget_courses,
			&.widget_list-post {
				.widget-title {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.thim-style-content-new-1 {
	.navigation {
		.menu-right {
			.widget_courses-searching {
				.search-toggle {
					.fa-search {
						padding-top: 13px;
						&:before {
							content: "\e922";
							font-family: 'Linearicons';
						}
					}
				}
			}
		}
	}
	.widget-area {
		aside {
			&.widget {
				padding: 0;
				.widget-title {
					font-size: 22px;
					font-weight: 400;
					text-transform: none;
					line-height: 22px;
					margin-bottom: 32px;
				}
				&:after, &:before {
					display: none;
				}
				ul {
					li {
						a {
							text-transform: uppercase;
							font-size: 16px;
							font-weight: 400;
							color: #808080;
							padding: 2px 0;
							display: block;
							line-height: 24px;
						}
						&:first-child {
							padding-top: 0;
							a {
								padding-top: 0;
							}
						}
					}
				}
			}
		}
	}
}

.widget_rss {
	.rsswidget {
		font-weight: bold;
	}
	.rss-date {
		display: block;
		font-style: italic;
		font-size: 90%;
	}
	cite {
		color: #000;
		font-weight: bold;
	}
}

#secondary .thim-widget-courses {
	padding-top: 0;
	padding-bottom: 0;
}

.thim-global-locations {
	margin-top: -230px;
	margin-bottom: 50px;
	position: relative;
}

.site-main {
	.widget_text {
		.widget-title {
			font-size: 18px;
			font-weight: 700;
			line-height: 36px;
			padding-left: 32px;
			position: relative;
			margin-bottom: 12px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 3px;
			}
		}
	}
}

.thim-col-2 {
	width: 50%;
	float: left;
}

.nav-tabs > li {
	&:focus {
		outline: none;
	}
}

.thim-carousel-wrapper {
	&.gallery-img {
		.owl-item {
			text-align: center;
		}
	}
}

.mc4wp-form .mc4wp-form-fields {
	.newsletter-grad {
		label {
			display: inline-block;
			font-weight: 400;
			font-size: 18px;
			margin-right: 30px;
			color: #fff;
			text-transform: uppercase;
		}
		input[type=email], input[type=text] {
			display: inline-block;
			width: 450px;
			vertical-align: middle;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-left: 30px;
			font-size: 16px;
			border-color: rgba(255, 255, 255, 0.5);
			&::-moz-placeholder {
				font-style: italic;
			}
			&:-ms-input-placeholder { font-style: italic; }
			// Internet Explorer 10+
			&::-webkit-input-placeholder { font-style: italic;}
			// Safari and Chrome
			&:focus {
				border-color: #fff !important;
			}
		}
		input[type=submit] {
			display: inline-block;
			color: #202020;
			font-weight: 400;
			vertical-align: middle;
			font-size: 16px;
			padding: 14px 25px;
			text-transform: uppercase;
			background-color: #fff;
			&:hover {
				color: #fff !important;
				background-color: #383866;
			}
		}
	}
}

.form_developer_course {
	.wpcf7-form {
		.field_item .wpcf7-form-control-wrap {
			display: block;
			width: 100%;
			float: none;
			margin: 0;
		}

		input[type=text], input[type=email] {
			font-size: 18px;
			color: #333;
			padding: 0;
			font-weight: 400;
			border: none;
			position: relative;
			z-index: 1;
			background-color: #FFF;
			&::-moz-placeholder {
				color: #ccc;
				font-weight: 200;
				opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
			}
			&:-ms-input-placeholder { color: #ccc; font-weight: 200; }
			// Internet Explorer 10+
			&::-webkit-input-placeholder { color: #ccc; font-weight: 200;}
			// Safari and Chrome
		}
	}
}

.wpcf7-form {
	.ct-form-elegant {

		@media screen and (max-width: 1200px) {
			margin-bottom: 100px;
		}

		@media screen and (max-width: 480px) {
			margin-top: -50px;
		}

		.wpcf7-form-control-wrap {
			width: 100%;
			.wpcf7-text {
				padding: 24px 35px;
				font-size: 18px;
				border-radius: 35px;
			}

			.wpcf7-textarea {
				padding: 25px 35px;
				font-size: 18px;
				border-radius: 10px;
				max-height: 220px;
			}

			&.your-email {
				margin-left: 0;
			}
			&.your-email,
			&.your-name {
				margin-bottom: 30px;
			}
		}

		& > p:last-child{
			padding: 5px;
			display: inline-block;
			background: #ffb606;
			border-radius: 50px;
			transition: all 0.3s;
		}

		& > p {
			.wpcf7-submit {
				padding: 15px 80px;
				font-size: 18px;
				color: white;
				text-transform: capitalize;
				border-radius: 30px;
				border: 2px dotted white;
				margin-top: 0px;
			}
		}

		.ajax-loader {
			bottom: 15px;
			left: 130px;
		}

		.wpcf7-response-output {
			font-size: 18px;
		}
	}
}

.form_developer_course {
	background-color: #FFF;
	max-width: 434px;
	.head_form {
		padding: 40px 30px 115px 30px;
		background-image: url(images/bg_song2.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		h2 {
			margin: 0;
			color: #FFF;
			line-height: 45px;
			font-size: 38px;
			font-weight: 500;
		}
		h4 {
			margin: 0;
			color: #FFF;
			line-height: 40px;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	.content {
		padding: 0 30px 55px 30px;
		.field_item {
			position: relative;
			margin-bottom: 0;
			border-bottom: 1px solid #eee;
			padding-top: 25px;
		}
		.submit_row {
			margin-top: 50px;
			display: flex;
			height: 32px;
			border-radius: 16px;
			text-align: center;
			align-items: center;
			justify-content: center;
			position: relative;
			color: #fff;
			cursor: pointer;

			&:hover {
				opacity: .9;
			}

			input[type="submit"] {
				border-radius: 25px;
				padding: 0;
				text-transform: none;
				font-size: 16px;
				font-weight: 300;
				background-color: transparent;
				width: auto;
				margin: 0 8px 0 0;
			}

			.ajax-loader {
				left: unset;
				right: 0;
				bottom: 1px;
			}
		}
		label {
			position: absolute;
			bottom: 0;
			width: 100%;
			line-height: 40px;
			color: #ccc;
			font-size: 0;
			font-weight: 300;
			@include transition();
		}
		.focusing + label {
			font-size: 12px;
			bottom: 26px;
		}
		.yikes-easy-mc-form {
			> label {
				position: relative;
				padding-top: 20px;
				> input[type=text], > input[type=email] {
					font-size: 18px;
					color: #333;
					padding: 0;
					font-weight: 400;
					border: none;
					position: relative;
					z-index: 1;
					background-color: #FFF;
					&::-moz-placeholder {
						color: #cccccc;
						font-weight: 200;
						opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
					}
					&:-ms-input-placeholder { color: #cccccc; font-weight: 200; }
					// Internet Explorer 10+
					&::-webkit-input-placeholder { color: #cccccc; font-weight: 200;}
					// Safari and Chrome
				}
				> span {
					position: absolute;
					width: 100%;
					line-height: 40px;
					color: #cccccc;
					font-size: 0;
					font-weight: 300;
					@include transition();
				}
			}
			> button[type="submit"] {
				width: 100%;
				border-radius: 25px;
				padding: 0;
				text-transform: none;
				color: #fff;
				font-size: 16px;
				margin-top: 30px;
				font-weight: 300;
				> span {
					&:after {
						content: "\e944";
						font-family: linearicons;
						vertical-align: middle;
						margin-left: 5px;
					}
				}
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.box_counteradius {
	padding-top: 150px;
	h2 {
		line-height: 80px;
		color: #FFF;
		margin: 0;
		font-size: 80px;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 10px;
	}
	h4 {
		color: #FFF;
		margin: 0;
		font-size: 28px;
		font-weight: 300;
	}
}

.box_counteradius_2 {
	h2 {
		line-height: 36px;
		margin: 0;
		font-size: 36px;
		font-weight: 500;
		margin-top: 10px;
	}
	h4 {
		margin: 0;
		font-size: 16px;
		color: #999;
		font-weight: 300;
		text-transform: uppercase;
	}
}

.img_position {
	.elementor-widget.elementor-widget-image {
		position: static;
	}
	.vc_column-inner,
	.elementor-widget-wrap {
		.elementor-widget-image,
		.thim-widget-single-images {
			img {
				position: absolute;
			}

			&:nth-child(1) {
				img {
					top: 50px;
					z-index: 2;
				}
			}

			&:nth-child(2) {
				img {
					bottom: -60px;
					right: 0;
				}
			}
		}
	}
	.widget_single-images {
		img {
			position: absolute;
		}
		&:nth-child(1) {
			img {
				top: 50px;
				z-index: 2;
			}
		}
		&:nth-child(2) {
			img {
				bottom: -60px;
				right: calc(50% - 20px);
			}
		}
	}
}

.thim-style-content-new-1 .thim_footer_bottom_courses a.widget-button.small.very-rounded:after {
	display: none;
}

.thim_footer_bottom_courses {
	background-repeat: no-repeat !important;
	background-position: center bottom !important;
	overflow: visible !important;
	position: relative;
	&:before {
		content: "";
		background: #7a42d8;
		background: -moz-linear-gradient(left, #7a42d8 0, #507ff7 100%);
		background: -webkit-linear-gradient(left, #7a42d8 0, #507ff7 100%);
		background: linear-gradient(to right, #7a42d8 0, #507ff7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a42d8', endColorstr='#507ff7', GradientType=1);
		position: absolute;
		width: 100%;
		display: block !important;
		height: 100%;
		opacity: 0.8;
		top: 0;
		left: 0;
	}
	> .panel-grid-cell {
		position: relative;
	}
	.textwidget, .wpb_text_column {
		h4 {
			font-weight: 300;
			font-size: 40px;
			line-height: 50px;
			color: #fff;
			margin-bottom: 35px;
		}
		h2 {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 400;
			color: #fff;
		}
	}
	a {
		&.widget-button {
			&.small {
				line-height: 50px;
				padding: 0 60px;
				&.very-rounded {
					border-radius: 25px;
				}
			}
		}
	}
	&.vc_row {
		> .vc_col-sm-6 {
			&:last-child {
				width: 60%;
			}
			&:first-child {
				width: 40%;
			}
		}
	}
}

.thim_bg_gradient {
	background-repeat: no-repeat !important;
	position: relative;
	&:before {
		content: "";
		background: #7a42d8;
		background: -moz-linear-gradient(left, #7a42d8 0, #507ff7 100%);
		background: -webkit-linear-gradient(left, #7a42d8 0, #507ff7 100%);
		background: linear-gradient(to right, #7a42d8 0, #507ff7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a42d8', endColorstr='#507ff7', GradientType=1);
		position: absolute;
		width: 100%;
		display: block;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.app_section {
	.textwidget, .wpb_text_column {
		p {
			color: #ccc;
			font-weight: 300;
			font-size: 16px;
		}
		img {
			margin-top: 15px;
		}
	}
}

.footer_newsletter {
	.thim-widget-heading {
		margin-bottom: 35px;
	}

	.sc_heading {
		margin-bottom: 0;
		.title {
			text-transform: none;
			margin-bottom: 18px;
		}
		.sub-heading {
			font-size: 20px;
			font-weight: 200;
		}
	}

	.mc4wp-form {
		.thim-newsletter-home-transparent {
			background-color: transparent;
			text-align: center;

			.input-field {
				position: relative;
				display: inline-block;
				vertical-align: bottom;
				max-width: 100%;
			}

			label {
				position: absolute;
				font-size: 0;
				bottom: 0;
				left: 0;
				color: #ccc;
				font-weight: 300;
			}

			input[type=email] {
				padding: 0;
				width: 375px;
				max-width: 100%;
				border-width: 0 0 1px 0;
				border-color: #eee;
				font-size: 18px;
				font-weight: 300;
				color: #fff;

				&::-moz-placeholder {
					color: #ccc;
					font-weight: 200;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: #ccc;
					font-weight: 200;
				}

				&::-webkit-input-placeholder {
					color: #ccc;
					font-weight: 200;
				}

				&:focus{
					& ~ label {
						font-size: 12px;
						bottom: 100%;
					}
				}
			}

			button[type="submit"] {
				padding: 0 30px;
				margin-left: 15px;
				background-color: transparent;
				border: 1px solid;
				border-radius: 9999px;
				color: #fff;
				font-weight: 200;
				display: inline-flex;
				align-items: center;
				justify-content: center;

				i {
					margin-left: 5px;
				}
				&:hover {
					background-color: #fff;
					color: #333;
					border-color: #fff;
				}
			}

			> p {
				display: inline-block;
			}
		}
	}
}

.have_scroll_bottom {
	position: relative;
	.scroll_slider_tab {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index: 1;

		.to_bottom {
			width: 60px;
			text-align: center;
			position: absolute;
			top: -105px;
			margin-left: -50px;
			padding: 12px 0;
			display: inline-block;
			border-left: 1px solid rgba(255, 255, 255, .2);
			i {
				font-family: Linearicons;
				display: block;
				font-style: inherit;
				color: #fff;
				line-height: 7px;
				font-size: 12px;
				&.icon2 {
					opacity: 0.5;
				}
			}
		}
	}
	.rev_slider .tp-tabs.hebe .tp-tab-mask .tp-tabs-inner-wrapper {
		padding-right: 70px;
	}
	.revslider-initialised .tp-tabs.hebe .tp-tab-mask .tp-tabs-inner-wrapper {
		padding-right: 70px;
	}
	.revslider-initialised .tp-tabs.hebe_thim .tp-tab-mask .tp-tabs-inner-wrapper {
		padding-right: 70px;
	}
}

.masonry_layout {
	.thim-widget-gallery-posts {
		.item_post {
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 10px;
		}
	}
}

.custom-text-1 {
	margin-top: -12px;
	padding-right: 20px;
	margin-bottom: -10px;

	p {
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 30px;
	}
	ul {
		margin-left: 0;
		margin-top: 10px;
		display: inline-block;
		li {
			font-weight: 400;
			margin-bottom: 10px;
			color: #292929;
			list-style: none;
			font-size: 18px;
			&:before {
				color: #2ec4b6;
				content: "•";
				margin-right: 15px;
				font-size: 26px;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}

.custom-text-2 {
	text-align: center;
	padding: 0 100px;
	margin-top: -45px;
	p {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 30px;
		line-height: 30px;
		color: #aeaeae;
	}
	img {
		margin-top: 15px;
	}
}

.menu_faqs {
	.menu {
		margin: 0;
		li {
			list-style: none;
			padding-bottom: 15px;
			a {
				color: #9f9f9f;
				font-size: 18px;
				font-weight: 400;
			}
			&:before {
				color: #2ec4b6;
				content: "•";
				margin-right: 15px;
				font-size: 26px;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}

.working_hours {
	margin: 0;
	li {
		list-style: none;
		color: #9f9f9f;
		font-size: 18px;
		border-bottom: 1px solid rgba(124, 124, 124, 0.2);
		font-weight: 400;
		padding-bottom: 25px;
		padding-top: 25px;
		span {
			float: right;
			color: #fff;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

.box_heading_custom {
	.column_heading {
		float: left;
		padding-right: 40px;
		margin-right: 40px;
		border-right: 1px solid rgba(124, 124, 124, 0.2);
		&:last-child {
			border-right: none;
			padding-right: 0;
			margin-right: 0;
			font-weight: 300;
		}
	}
	.column_1 {
		text-transform: uppercase;
		font-size: 16px;
		color: #7c7c7c;
		p {
			margin-bottom: 0;
		}
		.heading {
			font-weight: 600;
			font-size: 35px;
			text-transform: none;
			color: #202020;
			line-height: 50px;
		}
	}
	.column_2 {
		font-size: 22px;
		font-weight: 300;
		color: #202020;
		text-align: center;
		text-transform: uppercase;
		.day {
			font-size: 60px;
			font-weight: 600;
			display: block;
			line-height: 50px;
		}
	}
	.column_3 {
		width: calc(100% - 505px);
		font-size: 18px;
		font-weight: 400;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}

.this-bottom-grad {
	text-align: center;
	.elementor-widget-wp-widget-text, .elementor-widget-thim-social,
	.widget_text, .widget_social, .wpb_text_column, .thim-widget-social {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0 !important;
	}
}

.thim-image-box {
	position: relative;
	display: inline-block;
	> a {
		display: block;
		&:before {
			position: absolute;
			content: "";
			background-color: rgba(17, 17, 17, 0.55);
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			@include transition();
		}
	}
	.title {
		position: absolute;
		display: inline-block;
		z-index: 2;
		left: 50%;
		top: 50%;
		@include translate(-50%, -50%);
		h3 {
			display: inline-block;
			margin: 0;
			font-size: 26px;
			font-weight: 600;
			line-height: 34px;
			a {
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
	&:hover {
		> a {
			&:before {
				background-color: rgba(53, 56, 102, 0.8);
			}
		}
	}

	&.template-layout-2{
		.thim-image-info{
			padding: 0 15px;
			margin-top: -46px;
			text-align: center;

			.title{
				position: static;
				display: block;
				transform: translate(0,0);
				padding: 18px 10px 16px;
				margin: 0 0 17px;

				h3{
					font-size: 20px;
					line-height: 26px;

					a{
						text-transform: none;
					}
				}
			}
		}
	}
}

.header_v5 {
	#thim-popup-login {
		.mo-openid-app-icons > p, .has-shortcode .thim-login .title {
			font-size: 22px;
			font-weight: 600;
		}
	}
}