.custom-heading {
	.sc_heading {
		.title {
			line-height: 1.2;
 		}

		.sub-heading {
			font-size: 20px;
		}

		@media(max-width: 767px) {
			.title {
				font-size: 36px !important;
			}
			.sub-heading {
				font-size: 18px;
			}
		}

	}
}

body {
	.container.top-heading-style-3 {
		padding: 20px;
		position: relative;
	}

	&.size_wide .container.top-heading-style-3 {
		padding: 0px 15px 100px 15px;
	}

	&.home-page.three_line_top_bottom #main-content {
		&:before, &:after {
			content: "";
			width: 944px;
			top: 0;
			bottom: 0;
			z-index: -2;
			margin: 0 auto;
			position: absolute;
			border-right: 1px solid #f1f1f1;
			border-left: 1px solid #f1f1f1;
			left: 50%;
			margin-left: -472px;
		}

		&:after {
			width: 1px;
			border-right: none;
			margin-left: -1px;
		}

		&::before {
			@media(max-width: 991px) {
				display: none;
			}
		}
	}

	.top-heading-style-3 {
		// css gallery filter
		.thim-widget-gallery-posts {
			.wrapper-filter-controls {
				ul {
					border-bottom: 1px solid #fff;
				}

				a {
					color: #fff;
					font-size: inherit;
				}
			}

		}

		// css portfolio filter
		.portfolio-tabs {
			border-bottom: 1px solid #fff !important;

			a {
				color: #fff !important;
				font-size: inherit !important;
			}
		}

		#thim-product-archive {
			&.thim-product-list {
				.product-grid {
					li.product {
						@media(min-width: 768px) {
							background: #fff;
							padding: 30px;
						}

						&:last-child {
							margin-bottom: 30px;
						}
					}
				}
			}

			.switch-layout-container {
				.switch-layout {
					@media(max-width: 480px) {
						display: block;
					}

					a {
						background: transparent;
						box-shadow: none;
						margin-right: 0;
						border-radius: unset;

						&.switch-active, &:hover {
							i {
								color: var(--thim-body-primary-color);
							}
						}

						&.list {
							padding: 5px 22px 5px 0;
							border-right: 1px solid rgba(255, 255, 255, 0.5);
							@media(max-width: 767px) {
								padding: 5px 12px 5px 0;
							}
							@media(max-width: 480px) {
								padding: 3px;
								border-right: unset;
							}
						}

						&.grid {
							padding: 5px 22px 5px 20px;
							@media(max-width: 767px) {
								padding: 5px 12px 5px 10px;
							}
							@media(max-width: 480px) {
								padding: 3px;
							}
						}

						i {
							color: #fff;
						}
					}
				}

				.woocommerce-result-count {
					line-height: 45px;
					margin-bottom: 0;
					font-size: 18px;
					color: #fff;
					margin-left: 23px;
					@media(max-width: 767px) {
						font-size: 16px;
						margin-left: 15px;
					}
				}

				.woocommerce-ordering {
					select {
						height: unset;
						padding: 9px 20px 9px 15px;
						cursor: pointer;
						background-image: url(images/arrow_woo.png);
						background-repeat: no-repeat;
						font-size: 18px;
						background-position: 100% 52%;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						color: #fff;
						border: unset;
						background-color: transparent;
						line-height: 1.5;
						@media(max-width: 767px) {
							font-size: 16px;
						}

						option {
							background: rgba(0, 0, 0, 0.3);
						}

						@media(max-width: 600px) {
							padding: 15px 40px 15px 20px;
							background-position: 95% 50%;
							font-size: 16px;
							.thim-course-order {
								margin-right: 0;
								align-self: center;
								@media(max-width: 600px) {
									margin-bottom: 0;

								}
								@media(max-width: 480px) {
									margin-left: 0;
								}

								select {
									height: unset;
									padding: 25px 70px 25px 40px;
									border-radius: 15px;
									box-shadow: rgba(120, 120, 120, 0.3) 5px 5px 25px 0;
									cursor: pointer;
									background-image: url(images/arrow_new.png);
									background-repeat: no-repeat;
									font-size: 18px;
									background-position: 85% 50%;
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									color: #8b8b8b;
									@media(max-width: 600px) {
										padding: 15px 40px 15px 20px;
										background-position: 95% 50%;
										font-size: 16px;
									}
								}
							}
							.course-index {
								display: none;
							}
							.courses-searching {
								display: none;
							}
						}
					}
				}
			}

			.page-numbers {
				li {
					line-height: 1;
					margin-right: 15px;

					.page-numbers {
						width: 55px;
						height: 55px;
						line-height: 55px;
						font-size: 20px;
						font-weight: 500;
						border: none;
						border-radius: 10px;
						border: 1px solid #ddd;
						font-weight: 400;

						&.prev, &.next {
							font-size: 0;
							position: relative;
						}

						&.next {
							&::before {
								font-family: 'Line Awesome Free';
								font-weight: 900;
								content: "\f105";
								font-size: 22px;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								position: absolute;
							}
						}

						&.prev {
							&::before {
								font-family: 'Line Awesome Free';
								font-weight: 900;
								content: "\f104";
								font-size: 20px;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								position: absolute;
								line-height: 1;
							}
						}

						&:hover, &.current {
							background: #bebebe;
							color: #fff;
						}
					}
				}
			}
		}

		.product-grid {
			.product__title {
				a {
					&.button:hover, &.button:before, &.added_to_cart {
						color: #fff;
					}
				}
			}
		}

		.product-info {
			background: #fff;
			padding: 15px 0px;
			@media(max-width: 767px) {
				padding: 0;
				background: transparent;
			}

			.image-panel {
				a {
					display: block;

					> img {
						width: 100%;
					}
				}
			}

			.right {
				padding-top: 80px;
				@media(max-width: 767px) {
					padding-top: 0px;
				}
			}
		}

		.switch-layout-container {
			background: transparent;
			padding: 0;
			margin-bottom: 55px;
			@media(max-width: 767px) {
				margin-bottom: 40px;
			}

			.course-index, .courses-searching {
				display: none;
			}

			.switch-layout {
				@media(max-width: 480px) {
					display: none;
				}

				a {
					padding: 10px;
					background: #fff;
					line-height: 1;
					border-radius: 10px;
					margin-right: 15px;
					box-shadow: rgba(120, 120, 120, 0.3) 5px 5px 25px 0;
					@media(max-width: 600px) {
						padding: 8px;
						margin-right: 5px;
					}

					i {
						color: #000;
					}

					&.switch-active, &:hover {
						i {
							color: var(--thim-body-primary-color);
						}
					}

					&.list, &.grid {
						i:before {
							content: '\f850';
							font-family: 'Line Awesome Free';
							font-weight: 900;
							font-size: 36px;
						}
					}

					&.grid i:before {
						content: '\f0ae';
					}
				}

			}

			.thim-course-order {
				margin-right: 0;
				@media(max-width: 480px) {
					margin-left: 0px;
				}

				select {
					height: unset;
					padding: 15px 60px 15px 25px;
					border-radius: 15px;
					box-shadow: rgba(150, 150, 150, 0.1) 5px 5px 25px 0;
					cursor: pointer;
					background-image: url(images/arrow_new.png);
					background-repeat: no-repeat;
					font-size: 18px;
					background-position: 86% 52%;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					color: #8b8b8b;
					@media(max-width: 600px) {
						padding: 15px 40px 15px 20px;
						background-position: 95% 50%;
						font-size: 16px;
						.thim-course-order {
							margin-right: 0;
							align-self: center;
							@media(max-width: 600px) {
								margin-bottom: 0;

							}
							@media(max-width: 480px) {
								margin-left: 0;
							}

							select {
								height: unset;
								padding: 25px 70px 25px 40px;
								border-radius: 15px;
								box-shadow: rgba(120, 120, 120, 0.3) 5px 5px 25px 0;
								cursor: pointer;
								background-image: url(images/arrow_new.png);
								background-repeat: no-repeat;
								font-size: 18px;
								background-position: 85% 50%;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								color: #8b8b8b;
								@media(max-width: 600px) {
									padding: 15px 40px 15px 20px;
									background-position: 95% 50%;
									font-size: 16px;
								}
							}
						}
						.course-index {
							display: none;
						}
						.courses-searching {
							display: none;
						}
					}
				}
			}

		}

		.thim-course-grid {
			&#thim-course-archive {
				margin-bottom: 0;
			}
		}

		.thim-course-list {
			.lpr_course {
				padding: 0 !important;
				margin-bottom: 60px;
				border-radius: 10px;
				border: 1px solid #ebebeb;
				@media(max-width: 767px) {
					margin-bottom: 40px;
				}
			}

			.course-item {
				display: flex;
				align-items: center;
				margin-bottom: 0;
				background: #fff;
				@media(max-width: 600px) {
					display: block;
				}

				.course-thumbnail {
					border-radius: unset;
					width: 50%;
					margin-right: unset;
					max-width: unset;
					@media(max-width: 600px) {
						width: 100%;
					}

					.thumb {
						position: relative;

						&:hover {
							&::before {
								opacity: 1;
							}

							&::after {
								opacity: 1;
								transform: translate(-50%, -50%) scale(1);
							}
						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: rgba(0, 0, 0, 0.3);
							opacity: 0;
						}

						&::after {
							font-size: 50px;
							font-family: 'Line Awesome Free';
							font-weight: 900;
							content: '\f061';
							color: #fff;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%) scale(1.2);
							transition: all 0.3s ease-in;
							z-index: 1;
							opacity: 0;
						}

						.course-price {
							display: inline-block;
						}
					}

				}

				.thim-course-content {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 20px 40px;
					box-shadow: unset;
					border: none;
					@media(max-width: 1199px) {
						padding: 10px 30px;
					}
					@media(max-width: 600px) {
						width: 100%;
						padding: 30px 30px 20px 30px;
					}

					.course-price {
						display: none;
					}

					.wrapper-cat {
						margin-top: 0;
					}

					.course-title {
						font-size: 28px;
						margin: 15px 0 20px 0;

						&:hover {
							text-decoration: underline;
							color: inherit;
						}

						@media(max-width: 1439px) {
							font-size: 22px;
							margin: 10px 0 15px 0;
						}
						@media(max-width: 1199px) {
							margin: 5px 0 10px 0;
						}
						@media(max-width: 600px) {
							margin: 10px 0 15px 0;
						}
					}

					.course-author {
						margin-bottom: 20px !important;

						img {
							border-radius: 50%;
						}

						.author-contain {
							font-weight: 500;
							font-size: 18px;
						}

						.value {
							a:hover {
								text-decoration: underline;
							}
						}
					}

					.course-description {
						font-size: 16px;
						margin-top: 0;
						height: unset;
						max-height: 3.2em;
						@media(max-width: 1439px) {
							margin-bottom: 20px;
						}
					}

					.course-meta {
						display: block;
						padding: 25px 0 0 0;
						margin-bottom: 0;
						@media(max-width: 1199px) {
							padding: 15px 0 0 0;
						}
						@media(max-width: 600px) {
							padding: 25px 0 0 0;
						}

						&::after {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							top: 1px;
							height: 1px;
							width: 100%;
							background: #e5e5e5;
						}

						> div {
							margin-top: 0;
						}

						.value {
							font-size: 18px;
							color: #bdbdbd;
							font-weight: 500;

							i {
								display: inline-block;
								font-size: 13px;
								vertical-align: top;
								margin-right: 5px;
							}
						}

						.clearfix {
							margin: 0;
						}

						.course-review {
							padding-right: 0;
							@media(max-width: 600px) {
								display: inline-block !important;
							}

							label {
								display: none;
							}
						}

						.course-students {
							margin-right: 15px;

							label, span {
								display: none;
							}
						}

						.course-comments-count {
							display: inline-block;
						}
					}
				}
			}
		}

		.learn-press-pagination {
			margin-top: 20px;

			.page-numbers {
				li {
					line-height: 1;
					margin-right: 15px;

					.page-numbers {
						width: 55px;
						height: 55px;
						line-height: 55px;
						font-size: 20px;
						border-radius: 10px;
						border: 1px solid #ddd;
						font-weight: 400;

						&.prev, &.next {
							font-size: 0;
							position: relative;

							&::before {
								font-family: 'Line Awesome Free';
								font-weight: 900;
								content: "\f105";
								font-size: 22px;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								position: absolute;
							}
						}

						&.prev {
							&::before {
								content: "\f104";
								font-size: 20px;
								line-height: 1;
							}
						}

						&:hover, &.current {
							background: #bebebe;
							color: #fff;
						}
					}
				}
			}
		}

		.course-info {
			padding: 40px 30px 0 30px;
			background: #fff;
			border-radius: 10px;
			box-shadow: 0 3px 10px rgba(150, 150, 150, 0.15);
			@media(max-width: 480px) {
				padding: 40px 20px 0 20px;
			}

			.entry-title {
				margin-bottom: 30px;
				font-size: 24px;
				position: relative;
				line-height: 1;
				padding-left: 15px;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 2px;
					height: 100%;
					background: var(--thim-body-primary-color);
				}
			}

			.course-meta {
				margin-bottom: 0px;

				label {
					color: #545454;
					font-size: 16px;
					font-weight: 500;
					text-transform: uppercase;
					margin-bottom: 10px;
					@media(max-width: 1199px) {
						font-size: 12px;
					}
				}

				.value {
					color: #b0b0b0;
					font-size: inherit;
					font-weight: 400;
					text-transform: capitalize;
					@media(max-width: 1199px) {
						font-size: 12px;
					}
				}

				.course-review {
					.value {
						> span {
							display: none;
						}
					}
				}

				.course-categories {
					.value {
						text-transform: uppercase;
					}
				}

				> div {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			.course-payment, .thim-course-landing-button {
				margin-bottom: 30px;
				display: inline-flex;
				align-items: center;

				.lp-course-buttons {
					margin-bottom: 0 !important;
				}
			}

			.course-payment {
				@media(max-width: 991px) {
					float: none;
					display: flex;
				}

				.course-price {
					.value.has-origin {
						.course-origin-price {
							right: unset !important;
							color: #a1a1a1 !important;

						}
					}
				}

				.lp-course-buttons {
					.lp-button {
						font-size: 18px;
						line-height: 60px;
						height: 60px;
						border-radius: 30px;
						background: linear-gradient(to right, #90e071, #66d6fd);
						color: #fff;
						font-weight: 500;
						margin-right: 0;

						&:hover {
							background: linear-gradient(to right, #66d6fd, #90e071);
						}

						@media(max-width: 1199px) {
							font-size: 14px;
							margin-top: 10px;
							line-height: 40px;
							height: 40px;
						}
					}

					.learn-press-pmpro-buy-membership {
						margin-left: 10px;
					}
				}
			}
		}

		.course-summary {
			margin-top: 30px;

			.course-thumbnail {
				> img {
					border-radius: 10px;
					width: 100%;
				}
			}

			.course-tabs {
				&#learn-press-course-tabs {
					margin-bottom: 0;
				}

				.nav-tabs {
					li {
						width: unset !important;

						&:not(:last-child) {
							margin-right: 60px;
							@media(max-width: 1440px) {
								margin-right: 30px;
							}
							@media(max-width: 767px) {
								margin-right: 15px;
							}
						}

						&::before {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							top: unset;
							bottom: 0;
							height: 4px;
							width: 0;
							background: var(--thim-body-primary-color);
							transition: all 0.3s ease-in;
						}

						&.active {
							a {
								color: #000;
							}

							&::after {
								display: none;
							}

						}

						&.active, &:hover {
							&::before {
								width: 100%;
							}
						}

						a {
							margin-right: unset;
							border: unset;
							padding: 25px 0px;
							font-size: 18px;
							text-transform: uppercase;
							color: #b0b0b0;
							font-weight: 500;
							background: unset;
							@media(max-width: 767px) {
								font-size: 16px;
								padding: 10 0px;
							}

							i {
								font-size: 20px;
								margin-right: 13px;
							}
						}
					}
				}

				.tab-content {
					border: none;
					padding: 60px 0;
					@media(max-width: 767px) {
						padding: 50px 0 20px 0;
					}

					.thim-course-info {
						ul {
							li {
								font-size: 16px !important;

								.value {
									font-weight: 500 !important;
									color: #000;
								}
							}
						}
					}
				}
			}

			.thim-social-share {
				margin-left: 60px;
				margin-top: 50px;
				@media(max-width: 767px) {
					margin-left: 0;
					margin-top: 30px;
				}

				.heading {
					color: #000;
					font-size: 16px;
					font-weight: 500;
				}

				li {
					> div {
						a {
							color: rgba(0, 0, 0, 0.2);
							border: 1px solid rgba(0, 0, 0, 0.2);
							width: 50px;
							height: 50px;
							font-size: 20px;
							line-height: 50px;
							display: inline-flex;
							align-items: center;
							justify-content: center;

							i {
								line-height: 1;
							}

							&:hover {
								color: #000;
								background: transparent;
								border: 1px solid var(--thim-body-primary-color);
							}
						}
					}
				}
			}
		}

		.thim-ralated-course {
			margin: 0 -15px;

			.related-title {
				padding: 0 15px;
				@media(max-width: 767px) {
					margin: 50px 0 40px 0;
				}

				&::after {
					display: none;
				}
			}

			.thim-course-grid {
				margin: 0;

				.owl-controls {
					display: none !important;
				}
			}
		}

		.course-item {
			margin-bottom: 20px;

			&:hover {
				box-shadow: unset;

				.thim-course-content {
					.course-meta {
						.course-review {
							> .value {
								.review-stars-rated {
									.review-stars > li span {
										color: var(--thim-body-primary-color);
									}
								}
							}
						}
					}
				}
			}

			.course-thumbnail {
				border-radius: 10px 10px 0 0;

				.course-price {
					position: absolute;
					display: inline-block;
					color: #fff;
					left: 30px;
					bottom: 0;
					transform: translateY(-50%);
					z-index: 1;
					font-size: 18px;
					line-height: 1;
					display: none;

					.value {
						text-transform: uppercase;
						padding: 11px 22px;
						background: var(--thim-body-primary-color);
						border-radius: 30px;

						&.free-course {
							background: #6fcb37;
						}
					}

				}

				a.thumb {
					&::before {
						z-index: 1;
						background: rgba(0, 0, 0, 0.3);
					}

					i {
						font-size: 38px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate3d(-50%, -50%, 0) scale(0.5, 0.5);
						color: #fff;
						opacity: 0;
						transition: all 0.3s ease;
					}

					&:hover {
						i {

							transform: translate3d(-50%, -50%, 0) scale(1, 1);
							opacity: 1;
							z-index: 1;
						}
					}
				}

				.course-readmore {
					font-size: 0;
					padding: 0;
					line-height: 1;
					background-color: transparent !important;

					&::before {
						font-size: 50px;
						font-family: 'Line Awesome Free';
						font-weight: 900;
						content: '\f061';
						color: #fff;
					}
				}
			}

			.thim-course-content {
				position: relative;
				font-size: 18px;
				border: 1px solid #ebebeb;
				line-height: 1;
				padding: 30px 30px 0 30px;
				background: white;
				border-radius: 0px 0px 10px 10px;

				.course-price {
					position: absolute;
					display: inline-block;
					color: #fff;
					right: 30px;
					top: 0;
					transform: translateY(-50%);
					z-index: 1;

					.course-origin-price {
						color: #fff;
					}

					.value {
						text-transform: uppercase;
						padding: 11px 22px;
						background: var(--thim-body-primary-color);
						border-radius: 30px;

						&.free-course {
							background: #6fcb37;
						}
					}

				}

				.wrapper-cat {
					text-align: left;
					margin-top: 5px;

					.cat-item {
						padding: 3px 12px;
						border: 1px solid;
						margin-right: -20px;
						display: inline-block;
						border-radius: 15px;
						background: #fff;
						transition: all 0.3s;
						font-size: 15px;
						text-transform: uppercase;
						margin-bottom: 7px;

						&:last-child {
							margin-right: 0px;
						}
					}
				}

				.course-title {
					font-size: 22px;
					line-height: 1.2;
					margin: 18px 0 25px 0;
					height: unset;
					text-align: left;

					a {
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;

						&:hover {
							text-decoration: underline;
							color: inherit;
						}
					}

					@media only screen and (max-width: 480px) {
						font-size: 18px;
					}
				}

				.course-author {
					display: flex !important;
					align-items: center;
					margin-bottom: 30px !important;

					img {
						margin-top: 0;
					}

					.author-contain {
						margin-left: 20px;

						.value {
							font-size: 18px;
							margin-top: 0;

							a {
								color: #9d9d9d;
							}
						}
					}
				}

				.course-meta {
					padding: 20px 0;

					&::before {
						display: none;
					}

					.value {
						font-size: 18px;
						color: #bdbdbd;

					}

					.course-students {
						.value {
							display: flex;
							align-items: center;

							i {
								line-height: 1;

								&:before {
									content: '\f500';
									font-family: 'Line Awesome Free';
									font-weight: 900;
									font-size: 24px;
								}
							}
						}
					}

					.course-comments-count {
						.value {
							display: flex;
							align-items: center;

							i {
								line-height: 1;

								&:before {
									content: '\f075';
									font-family: 'Line Awesome Free';
									font-weight: 900;
									font-size: 24px;
								}
							}
						}
					}

					.course-students:hover, .course-comments-count:hover {
						.value {
							color: #000000;
						}
					}

					.course-review {
						display: inline-block;
						float: right;
						margin-right: 0;

						> .value {
							> span {
								display: none;
							}

							.review-stars-rated {
								.review-stars {
									> li {
										span {
											color: #d1d1d1;
										}
									}
								}
							}
						}
					}

					.course-price, .course-author {
						display: none !important;
					}
				}
			}
		}

		.thim-course-menu-landing {
			.thim-course-landing-button {
				.lp-course-buttons {
					.lp-button {
						border-radius: 30px;
						background: linear-gradient(to right, #90e071, #66d6fd);
						color: #fff;
						font-weight: 500;

						&:hover {
							background: linear-gradient(to right, #66d6fd, #90e071);
						}
					}
				}
			}
		}

		.widget-area {
			aside {
				.widget-title {
					font-size: 24px;
					text-transform: uppercase;
					font-weight: 600;
					margin-bottom: 40px !important;
					@media(max-width: 1299px) {
						font-size: 20px;
						margin-bottom: 25px !important;
					}
				}

				&::before, &::after {
					display: none;
				}

				&.widget {
					ul {
						li {
							a {
								color: #959595;
								font-size: 16px;
								text-transform: capitalize;
								font-weight: 400;

								&:hover {
									color: #000;
									text-decoration: underline;
								}
							}
						}
					}
				}
			}

			.thim-course-list-sidebar {
				.course-thumbnail {
					border-radius: 10px;
					width: 80px;
					height: 80px;

					img {
						margin-top: unset;
					}
				}

				.thim-course-content {
					width: calc(100% - 100px);

					.course-price {
						.value {
							color: var(--thim-body-primary-color);
							font-size: 16px;

							&.free-course {
								text-transform: uppercase;
								font-size: 16px;
								color: #00d637;
							}

							.course-origin-price {
								color: #b2b2b2;
							}
						}
					}
				}
			}

			.thim-course-filter-wrapper {
				border: none;

				.filter-title {
					font-size: 24px;
					text-transform: uppercase;
					font-weight: 600;
					margin-bottom: 40px;
					@media(max-width: 1299px) {
						font-size: 20px;
						margin-bottom: 25px;
					}
				}

				label {
					font-size: inherit;
					color: #959595;
					font-weight: 400;
				}

				.filter-submit {
					text-align: unset;

				}
			}
		}

		.woocommerce {
			.woocommerce-cart-form {
				background: #fff;
			}

			.cart-empty.woocommerce-info {
				margin: 0 15px;
			}

			.return-to-shop {
				padding: 30px 15px;
			}
		}

		#learn-press-profile {
			.wrapper-profile-header {
				.lp-profile-right {
					padding-top: 20px;
				}

				.lp-profile-left {
					border-top: unset;
				}
			}

			&.lp-user-profile {
				&.no-bio-user {
					#profile-sidebar {
						@media(min-width: 990px) {
							margin-top: 203px;
						}
					}
				}

				#profile-content {
					margin-right: 30px;
					width: calc(100% - 330px);
					@media(max-width: 990px) {
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}

		.lp-archive-courses {
			.learn-press-courses[data-layout="grid"] {
				.course {
					.course-item:hover {
						box-shadow: none;
					}
				}
			}
		}
	}
}
