/** Login Page **/

.thim-login, .thim-register {
	.title {
		font-size: 24px;
		font-weight: 700;
		position: relative;
		text-align: center;
		margin: -12px 0 23px;
		padding: 0;
		text-transform: none;
		line-height: 40px;
	}

	.register-area {
		h2 {
			margin-top: 50px;
		}
	}

	form {
		border: 0;
		padding: 0;
		max-width: 370px;
		margin: auto;
		clear: both;

		.form-row {
			margin: 0;
			padding: 0;
		}

		> a.lost-pass-link {
			width: 50%;
			float: right;
			display: block;
			font-weight: 400;
			margin-top: 7px;
			margin-bottom: 14px;
			line-height: 25px;
			text-align: right;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			margin: 0;

			&.login-username,
			&.login-password {
				label {
					display: none;
				}
			}

			&.login-remember {
				width: 50%;
				float: left;
				font-weight: 400;
				margin-top: 7px;
				margin-bottom: 14px;
				line-height: 25px;
				text-align: left;

				input[type="checkbox"] {
					border: 1px solid #000;
				}

				label {
					font-weight: 400;
					margin: 0;
				}
			}
		}

		label[for='become_teacher'] {
			font-weight: 400;
			line-height: 25px;
			margin: 7px 0 14px;

			input {
				border: 1px solid #111;
			}
		}

		input[type="email"],
		input[type="password"],
		input[type="text"] {
			width: 100%;
			line-height: 30px;
			padding: 4px 20px;
			border: 1px solid #e5e5e5;
			color: #999;
			margin-bottom: 20px;
			clear: both;
			display: block;
			min-height: 40px;
			border-radius: 0;
			@include transition(all 0.3s ease-in-out);

			&::-webkit-input-placeholder {
				line-height: 30px;
				@include transition(none);
			}

			&:-moz-placeholder { /* Firefox 18- */
				line-height: 30px;
				@include transition(none);
			}

			&::-moz-placeholder { /* Firefox 19+ */
				line-height: 30px;
				@include transition(none);
			}

			&:-ms-input-placeholder {
				line-height: 30px;
				@include transition(none);
			}

			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 50px white inset;
			}
		}

		input[type="submit"] {
			border: 0;
			width: 100%;
			line-height: 30px;
			padding: 5px 25px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 15px;
			border-radius: 0;
		}

		.gglcptch.gglcptch_v2 {
			margin-bottom: 18px;
		}
	}

	.link-bottom {
		font-size: 15px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		text-transform: none;
		margin: 0;
		margin-top: 10px;

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.learn-press-form-register {
		box-shadow: 0 0 0 0 !important;
		border-radius: 0;
		padding: 0;
		border: none;

		h3 {
			max-width: 370px;
			margin: 0 auto 20px auto;
		}

		.form-fields {
			list-style: none;
			margin: 0;
		}

		button[type="submit"] {
			width: 100%;
		}

		.form-fields .form-field input {
			border-radius: 0;

			&:focus {
				border: 1px solid;
				outline: none !important;
				box-shadow: 0 0 0 !important;
			}

		}
	}
}

.thim-popup-inner .thim-register {
	.learn-press-form-register {
		max-height: 300px;
		overflow-y: scroll;
		max-width: inherit;

		&::-webkit-scrollbar {
			width: 6px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: var(--thim-body-primary-color);
		}
	}
}

.thim-login #resetpassform {
	.message {
		margin-top: 30px;
	}
}

form#lostpasswordform {
	text-align: center;
	margin-bottom: 70px;

	.description {
		margin: auto;
		max-width: 450px;
		margin-bottom: 50px;
	}

	p {
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			@include transition(all 0.3s ease-in-out);
			width: 100%;
			display: inline-block;
			max-width: 350px;
			line-height: 30px;
			padding: 4px 20px;
			border: 1px solid #e5e5e5;
			border-radius: 0;

			&::-webkit-input-placeholder {
				line-height: 30px;
			}

			&:-moz-placeholder {
				line-height: 30px;
			}

			&::-moz-placeholder {
				line-height: 30px;
			}

			&:-ms-input-placeholder {
				line-height: 30px;
			}
		}

		input[type="submit"] {
			padding: 5px 25px;
			border: 0;
			display: inline-block;
			line-height: 30px;
			border-radius: 0;
			height: 40px;
			margin-left: 5px;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
		}
	}
}

.thim-widget-login-form .message {
	width: 370px !important;
	margin: 0 auto 30px;
	max-width: 100%;
}

.thim-login-captcha {
	text-align: center;

	> span {
		display: inline-block;
	}
}

#learn-press-form-login {
	border: 0;
	padding: 0;
	clear: both;
	margin-bottom: 30px;
	max-width: 350px;

	.form-row {
		margin: 0;
		padding: 0;
	}

	a.lost-pass-link {
		width: 50%;
		float: right;
		display: block;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 14px;
		line-height: 25px;
		text-align: right;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin: 0;

		&.login-remember {
			font-weight: 400;
			margin-top: 7px;
			margin-bottom: 14px;
			line-height: 25px;

			input[type="checkbox"] {
				border: 1px solid #000;
			}

			label {
				font-weight: 400;
				margin: 0;
			}
		}
	}

	label[for='become_teacher'] {
		font-weight: 400;
		line-height: 25px;
		margin: 7px 0 14px;

		input {
			border: 1px solid #111;
		}
	}

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		width: 100%;
		max-width: 350px;
		line-height: 30px;
		padding: 4px 20px;
		border: 1px solid #e5e5e5;
		color: #999;
		margin-bottom: 20px;
		clear: both;
		display: block;
		min-height: 40px;
		border-radius: 0;
		@include transition(all 0.3s ease-in-out);

		&::-webkit-input-placeholder {
			line-height: 30px;
			@include transition(none);
		}

		&:-moz-placeholder { /* Firefox 18- */
			line-height: 30px;
			@include transition(none);
		}

		&::-moz-placeholder { /* Firefox 19+ */
			line-height: 30px;
			@include transition(none);
		}

		&:-ms-input-placeholder {
			line-height: 30px;
			@include transition(none);
		}
	}

	input[type="submit"] {
		max-width: 350px;
		border: 0;
		width: 100%;
		line-height: 30px;
		padding: 5px 25px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 15px;
		border-radius: 0;
	}

	.gglcptch.gglcptch_v2 {
		margin-bottom: 18px;
	}
}


.mo-openid-app-icons {
	.btn-google {
		color: #fff;
		background-color: #dd4b39;
		background-image: linear-gradient(to bottom, #dd4b39, #dd4b39);

		&:hover {
			background-color: #c23321;
			background-image: linear-gradient(to bottom, #c23321, #c23321) !important;
		}
	}
}

.has-shortcode .thim-login-container > .mo-openid-app-icons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	align-items: center;

	width: 100%;
	padding: 0 30px;
	position: relative;
	z-index: 2;
	background-color: #fff;

	> p {
		font-size: 24px;
		font-weight: 700;
		position: relative;
		text-align: center;
		margin: 0 0 23px;
		padding: 0;
		text-transform: none;
		line-height: 30px;
		margin-bottom: 23px !important;
	}

	.btn-block {
		margin-top: 20px;
		display: block;

		&:hover {
			text-decoration: none;
		}

		&:nth-child(2) {
			margin-top: 0;
		}

		&.btn-facebook {
			&:hover {
				background-color: #2d4373;
				background-image: linear-gradient(to bottom, #2d4373, #2d4373) !important;
			}
		}

		&.btn-google {
			color: #fff;
			background-color: #dd4b39;
			background-image: linear-gradient(to bottom, #dd4b39, #dd4b39);

			&:hover {
				background-color: #c23321;
				background-image: linear-gradient(to bottom, #c23321, #c23321) !important;
			}
		}
	}

	&:after {
		content: '';
		left: auto;
		bottom: 0;
		top: 0;
		right: 1px;
		width: 1px;
		border: 0;
		background: #eee;
		//height: 300px;
	}
}

#thim-popup-login {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	@include opacity(0);
	visibility: hidden;
	background: rgba(0, 0, 0, 0.8);
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	@include scale(0.2, 0.2);
	@include transition(all .3s cubic-bezier(0.4, 0, 1, 1));

	&.active {
		@include scale(1, 1);
		@include opacity(1);
		visibility: visible;
	}

	.thim-login-container {
		overflow: hidden;
		display: flex;
		margin: auto;

		&.loading {

			&:before {
				background: rgba(255, 255, 255, 0.6);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				content: '';
				position: absolute;
			}

			.cssload-container {
				z-index: 3;
			}
		}

		p, a {
			font-size: 15px;
			font-weight: 400;
		}

		.close-popup {
			width: 40px;
			height: 40px;
			position: absolute;
			right: 0;
			top: 0;
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			color: #333;
			cursor: pointer;
			display: none;
		}


	}

	.popup-login-wrapper {
		background: #fff;
		position: relative;
		padding: 40px 50px;
		overflow: hidden;
		width: 900px;
		max-width: calc(100% - 60px);
		cursor: default;

		&:not(.has-shortcode) {
			.thim-login, .thim-register {
				min-width: 100%;
				//padding: 0 30px;
				position: relative;
				float: left;
				clear: none;
			}
		}

		&.has-shortcode {
			.thim-login-container {
				.message {
					max-width: 340px;
				}
			}
		}
	}


	.message {
		font-size: 13px !important;
		width: 100% !important;
		max-width: 370px;
		margin: 8px auto;
	}

	.thim-login-container > br {
		display: none;
	}


	.mo_image_id {
		display: none;
	}

	.has-shortcode {
		.thim-login, .thim-register {
			min-width: 100%;
			padding: 0 30px;
			position: relative;
			float: left;
			clear: none;

			.title {
				font-size: 24px;
				font-weight: 700;
				position: relative;
				text-align: center;
				margin: 0 0 23px;
				padding: 0;
				text-transform: none;
				line-height: 30px;
			}
		}
	}

	.thim-loading-container {
		@include opacity(0.6);
	}

}

body.thim-search-active {
	overflow-y: scroll;
	height: 100vh;

	#wrapper-container {
		height: 100vh;
	}

	#tp_style_selector {
		z-index: 1;
	}

	div#_fc_div {
		z-index: 1;
	}
}

body.thim-popup-active {
	height: 100vh;
	overflow-y: scroll;

	&.admin-bar {
		height: calc(100vh - 32px);
		height: -webkit-calc(100vh - 32px);
		height: -moz-calc(100vh - 32px);

		#wrapper-container {
			height: calc(100vh - 32px);
			height: -webkit-calc(100vh - 32px);
			height: -moz-calc(100vh - 32px);
		}
	}

	#wrapper-container {
		height: 100vh;
	}

	#tp_style_selector {
		visibility: hidden;
	}

	.mfp-container,
	#thim-popup-login {
		cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
	}

	.fc-tab {
		z-index: 99;
	}
}

#main {
	.cptch_block {
		text-align: center;

		.cptch_wrap {
			display: inline-block !important;

			input.cptch_input {
				padding: 0 10px;
			}
		}
	}
}

#loginform {
	.mo-openid-app-icons {
		display: none !important;
	}
}

.mo-openid-app-icons {
	.btn-block {
		margin-top: 20px;
	}
}

.login-password {
	position: relative;

	#show_pass {
		position: absolute;
		line-height: 40px;
		right: 10px;
		bottom: 0;
		cursor: pointer;
		z-index: 2;
		color: #aeaeae;

		&.active {
			color: #333;
		}
	}
}

#thim-popup-login {
	.thim-popup-inner {
		display: flex;
		width: 100%;
		transition: all .3s;
	}

	&.active {
		&.sign-up {
			.thim-popup-inner {
				transform: translateX(-100%);
			}
		}
	}

	.thim-login-container {
		.mo-openid-app-icons {
			& ~ .thim-popup-inner {
				width: 50%;
			}
		}

		.cssload-container {
			display: none;
		}

		&.loading {
			.cssload-container {
				display: block;
			}
		}
	}
}

.thim-widget-login-form label, .thim-widget-login-popup label {
	cursor: pointer;
	font-weight: normal;

	a:hover {
		text-decoration: underline;
	}
}

.anr_captcha_field {
	margin-bottom: 20px;
}

#thim-popup-login {
	.mo-openid-app-icons {
		> p {
			font-size: 24px;
			font-weight: 700;
			position: relative;
			text-align: center;
			margin: 0 0 23px;
			padding: 0;
			text-transform: none;
			line-height: 30px;
			//margin-bottom: 23px!important;
		}

		.btn-block {
			margin-right: 0;
		}
	}
}

@media(min-width: 768px) {

	#thim-popup-login {
		.popup-login-wrapper {
			padding: 40px 0px;
			width: 790px;

			&:not(.has-shortcode) {
				width: 480px;
			}
		}

		.mo-openid-app-icons {
			width: 335px;

			.btn-block {
				display: inline-block;
			}
		}

		.thim-login-container {
			> .mo-openid-app-icons {
				background: #fff;
				z-index: 1;
				padding: 0 30px;
				text-align: center;
			}

			.mo-openid-app-icons {
				& ~ .thim-popup-inner {
					width: -webkit-calc(100% - 335px);
					width: -moz-calc(100% - 335px);
					width: calc(100% - 335px);
				}
			}
		}
	}

	#thim-popup-login .mo-openid-app-icons > p,
	#thim-popup-login .has-shortcode .thim-login .title,
	#thim-popup-login .has-shortcode .thim-register .title {
		font-family: roboto slab;
		font-size: 20px;
		font-weight: 700;
	}

}

@media (max-width: 767px) {
	#thim-popup-login {
		.popup-login-wrapper {
			padding: 30px;
		}
	}

	#thim-popup-login {
		.mo-openid-app-icons {
			width: 100%;
			float: none;
		}
	}
	#thim-popup-login {
		.thim-login-container {
			webkit-box-direction: normal;
			-webkit-box-orient: vertical;
			-moz-box-direction: normal;
			-moz-box-orient: vertical;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;

			.mo-openid-app-icons ~ .thim-popup-inner {
				width: 100%;
			}
		}
	}
}

@media (max-height: 600px) {
	#thim-popup-login .popup-login-wrapper {
		height: 90vh;
		overflow: auto;
	}
}